.about-overview-con-wrap{
	display: flex;
	flex-wrap: wrap;
}
.about-overview-con-desc{
	width: 50%;
	padding-right: 15px;
}
.about-overview-rgt-img{
	width: 50%;
	padding-left: 15px;
}
.about-overview-con p{
  font-size: 18px;
  line-height: 1.8;
  margin: 0 auto;
  text-align: justify;
}
.about-overview-con p:first-letter{
  float: left;
  font-size: 60px;
  line-height: 1;
  margin: -11px 5px 0 0;
}

.about-overview-rgt-img{
	padding-left: 20px;
	margin-bottom: 50px;
}
.about-overview-rgt-img-inr{
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 20px 20px;
}
.about-overview-feature-con {
   width: 100%;
}
ul.about-overview-feature{
	display: flex;
	flex-wrap: wrap;
}
ul.about-overview-feature{
	margin: 0;
	padding: 0;
	list-style: none;
	padding-top: 0;
}
ul.about-overview-feature li{
	width: 33.333%;
	padding-left: 60px;
	padding-right: 10px;
	position: relative;
	padding-bottom: 10px;
}

ul.about-overview-feature li i {
    font-size: 20px;
    height: 32px;
    width: 32px;
    line-height: 32px;
}
ul.about-overview-feature li strong {
    text-transform: capitalize;
    padding-bottom: 8px;
    display: block;
    position: relative;
    margin-bottom: 10px;
    color: #0c224b;
}
ul.about-overview-feature li strong:after{
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    width: 40px;
    height: 1px;
    background: #000;
}
ul.about-overview-feature li div p{
	line-height: 1.3;
}
.iit-etu-img{
	position: absolute;
	left: 0;
	top: 0;
	height: 50px;
	width: 48px;
}
.ethics-cntlr-grid{
	
}
.ethics-cntlr-grid ul{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px;
}
.ethics-cntlr-grid ul li{
	padding: 0 10px;
	width: 33.33%;
}
.ethics-item{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
	min-height: 360px;
	border: 1px solid #d7d4d4;
	padding: 40px 20px;
	border-bottom: 4px solid #0c224b;
}
.ethics-cntlr-grid ul li:nth-child(2) .ethics-item,
.philosophy-grid ul li:nth-child(2) .philosophy-item{
	border-bottom-width:4px;
	border-bottom-style:solid;
}
.ethics-cntlr-grid ul li:nth-child(3) .ethics-item{
	border-bottom: 4px solid #5d9d32;
}
.ethics-item-icon{
	margin-bottom: 30px;
}
.ethics-item-icon i,
.philosophy-item-img i,
.contect-grid-img i{
	font-size: 45px;
	height: 50px;
	width: 50px;
	line-height: 50px;
}
.ethics-item-icon img{
	display: inline-block;
	min-height: 100px;
	width: auto;
}
.ethics-item-title{
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.ethics-item-title a{
	display: inline-block;
	color: inherit;
}
.ethics-item-desc p:last-of-type{
	margin-bottom: 0;
}
.ethics-item:before{
	content: "";
	margin: -1px auto auto;
	height: 1px;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 50%;
	background: #000;
}
.believe-in-cntlr{
	display: flex;
	flex-wrap: wrap;
}
.believe-in-lft{
	width: 40%;
	margin-top: 5px;		
}
.believe-in-img-cntlr{
	box-shadow: 0px 0px 30px 0px rgb(0 0 0 / 10%);
	-webkit-box-shadow: 0px 0px 30px 0px rgb(0 0 0 / 10%);
	-moz-box-shadow: 0px 0px 30px 0px rgb(0 0 0 / 10%);
}
.believe-in-rgt{
	width: 60%;
	padding-left: 40px;
}
.believe-in-rgt .sec-entry-hdr {
  padding-bottom: 0; 
}
.believe-in-tab ul{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0 -10px;
	/*margin-bottom: 30px!important;*/
}
.believe-in-tab ul li{
	padding: 0 10px;
	margin-bottom: 6px;
}
.believe-in-tab ul li a{
	font-size: 18px;
	text-decoration: none;
	border-bottom: 1px solid transparent;
	color: inherit;
	padding-bottom: 8px;
}
.believe-in-tab-des{
	text-align: center;
	display: none;
}
.believe-in-tab-des.believe-tab-active{
	display: block;
}
.believe-in-tab-des-bx {
    border: 1px solid #ddd;
    background: #fbfbfb;
    padding: 0px 15px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.believe-in-tab-des i{
	margin-bottom: 30px;
	display: block;
	font-size: 50px;
}
.philosophy-cntlr{
	position: relative;
	z-index: 2;
}
.philosophy-grid ul{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0 -10px;
}
.philosophy-grid ul li{
	padding: 0 10px;
	width: 33.33%;
}
.philosophy-item{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
	min-height: 450px;
	border: 1px solid #d7d4d4;
	padding: 40px 20px;
	border-bottom: 4px solid #0c224b;
}

.philosophy-grid ul li:nth-child(3) .philosophy-item{
	border-bottom: 4px solid #5d9d32;
}
.philosophy-item-img{
	margin-bottom: 30px;
}
.philosophy-item-img img{
	display: inline-block;
	min-height: 100px;
	width: auto;
}
.philosophy-item-title.fl-h6{
	text-align: center;
	text-transform: uppercase;
}
.philosophy-item-desc{
	text-align: center;
}
.philosophy-item-title.fl-h6 a{
	display: inline-block;
	color: inherit;
}
.philosophy-item-desc p:last-of-type{
	margin-bottom: 0;
}
.philosophy-item:before{
	content: "";
	margin: -1px auto auto;
	height: 1px;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 50%;
	background: #000;
}


.skill-section-con ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

.skill-section-con ul li{
	float: left;
	width: 25%;
	min-height: 475px;
	text-align: center;
	position: relative;
	-webkit-transition: background-image 0.2s ease-in-out;
	-ms-transition: background-image 0.2s ease-in-out;
	transition: background-image 0.2s ease-in-out;
}
.skill-box-img{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 2;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.skill-bx{
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	padding: 0 20px;
	color: #fff;
	z-index: 2;
}
.skill-box-icon{
	margin-bottom: 15px;
}
.skill-bx i{
	display: block;
	margin-bottom: 20px;
	opacity: 0;
}
.skill-bx h4{
	color: inherit;
	margin-bottom: 25px;
	text-transform: uppercase;
}
.skill-bx h4 a{
	color: #fff;
}
.skill-bx h4 a:hover{
	color: #F7961E;
}
.skill-bx p{
	opacity: 0;
}
.skill-section-con{
	position: relative;
	overflow: hidden;
}
.skill-section-bg{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
	opacity: 0;
    transform-origin: 50% 50%;
    transition: transform 30s linear;
    -ms-transition: transform 30s linear;
    -webkit-transition: transform 30s linear;
}


.skill-section-bg.sk1{
	background: url(../images/skill-box-section-bg-1.jpg);
	opacity: 1;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2); /* IE 9 */ 
	transform: scale(1.2);
	background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;


    transition: transform 30s linear;
    -ms-transition: transform 30s linear;
    -webkit-transition: transform 30s linear;
    transform: scale(2) rotate(0.1deg);
    -ms-transform: scale(2) rotate(0.1deg);
    -webkit-transform: scale(2) rotate(0.1deg);
}
.skill-section-bg.sk2{
	background: url(../images/skill-box-section-bg-2.jpg);
	opacity: 1;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2); /* IE 9 */ 
	transform: scale(1.2);
	background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;



    transition: transform 30s linear;
    -ms-transition: transform 30s linear;
    -webkit-transition: transform 30s linear;
    transform: scale(2) rotate(0.1deg);
    -ms-transform: scale(2) rotate(0.1deg);
    -webkit-transform: scale(2) rotate(0.1deg);
}

.skill-section-bg.sk3{
	background: url(../images/skill-box-section-bg-3.jpg);
	opacity: 1;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2); /* IE 9 */ 
	transform: scale(1.2);
	background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;


    transition: transform 30s linear;
    -ms-transition: transform 30s linear;
    -webkit-transition: transform 30s linear;
    transform: scale(2) rotate(0.1deg);
    -ms-transform: scale(2) rotate(0.1deg);
    -webkit-transform: scale(2) rotate(0.1deg);
}

.skill-section-bg.sk4{
	background: url(../images/skill-box-section-bg-4.jpg);
	opacity: 1;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2); /* IE 9 */ 
	transform: scale(1.2);
	background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;



    transition: transform 30s linear;
    -ms-transition: transform 30s linear;
    -webkit-transition: transform 30s linear;
    transform: scale(2) rotate(0.1deg);
    -ms-transform: scale(2) rotate(0.1deg);
    -webkit-transform: scale(2) rotate(0.1deg);
}

.skill-section-bg.sk5{
	background: url(../images/skill-box-section-bg-5.jpg);
	opacity: 1;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2); /* IE 9 */ 
	transform: scale(1.2);
	background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;


    transition: transform 30s linear;
    -ms-transition: transform 30s linear;
    -webkit-transition: transform 30s linear;
    transform: scale(2) rotate(0.1deg);
    -ms-transform: scale(2) rotate(0.1deg);
    -webkit-transform: scale(2) rotate(0.1deg);
}

.skill-section-bg.sk6{
	background: url(../images/skill-box-section-bg-6.jpg);
	opacity: 1;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2); /* IE 9 */ 
	transform: scale(1.2);


    transition: transform 30s linear;
    -ms-transition: transform 30s linear;
    -webkit-transition: transform 30s linear;
    transform: scale(2) rotate(0.1deg);
    -ms-transform: scale(2) rotate(0.1deg);
    -webkit-transform: scale(2) rotate(0.1deg);
}
.skill-section-bg.sk7{
	background: url(../images/skill-box-section-bg-7.jpg);
	opacity: 1;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2); /* IE 9 */ 
	transform: scale(1.2);
	background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;


    transition: transform 30s linear;
    -ms-transition: transform 30s linear;
    -webkit-transition: transform 30s linear;
    transform: scale(2) rotate(0.1deg);
    -ms-transform: scale(2) rotate(0.1deg);
    -webkit-transform: scale(2) rotate(0.1deg);
}

.skill-section-bg.sk8{
	background: url(../images/skill-box-section-bg-8.jpg);
	opacity: 1;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2); /* IE 9 */ 
	transform: scale(1.2);
	background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;

    transition: transform 30s linear;
    -ms-transition: transform 30s linear;
    -webkit-transition: transform 30s linear;
    transform: scale(2) rotate(0.1deg);
    -ms-transform: scale(2) rotate(0.1deg);
    -webkit-transform: scale(2) rotate(0.1deg);
}
.skill-section-con ul li.skill-bx-bg-transparent .skill-box-img{
	background: transparent!important;
}
.skill-section-con ul li.skill-bx-bg-active .skill-box-img{
	background: #2a6171!important;
}
.skill-section-con ul li:hover .skill-bx i,
.skill-section-con ul li:hover .skill-bx p{
	opacity: 3;
}

.believe-in-rgt .sec-entry-hdr.text-center.btm-line.line-bg-black{
	display: none;
}
.ethics-item-desc p{
	text-align: center;
}
.mis-vis-grid-cntlr{
	position: relative;
	z-index: 2;
	padding-bottom: 0!important;
}
.mis-vis-grid-cntlr ul{
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -10px;;
}
.mis-vis-grid-cntlr ul li {
    padding: 0 10px;
    width: 33.33%;
    padding-bottom: 30px;
}
.mis-vis-grid-item{
	padding: 20px;
	padding-bottom: 30px;
	position: relative;
	background: #f6f5ff;
	border: 1px solid #dadceb;
	-webkit-transition: all .5s ease-in-out !important;
	-ms-transition: all .5s ease-in-out !important;
	transition: all .5s ease-in-out !important;
}
.mis-vis-grid-item:before, 
.mis-vis-grid-item:after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    width: 0;
    height: 0;
}
.mis-vis-grid-item::before {
    top: 0;
    left: 0;
}
.mis-vis-grid-item::after {
    bottom: 0;
    right: 0;
}
.mis-vis-grid-item:hover:before, 
.mis-vis-grid-item:hover:after {
    width: 100%;
    height: 100%;
}
.mis-vis-grid-item:hover:before {
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.mis-vis-grid-item:hover:before {
    border-top-color: #0c224b;
    border-right-color: #0c224b;
}
.mis-vis-grid-item:hover:after {
    transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}
.mis-vis-grid-item:hover:after {
    border-bottom-color: #0c224b;
    border-left-color: #0c224b;
}
.mis-vis-grid-cntlr ul li:nth-child(2) .mis-vis-grid-item {
    background: #faf4ff;
    margin-top: 25px;
}
.mis-vis-grid-cntlr ul li:nth-child(2) .mis-vis-grid-item:hover,
.mis-vis-grid-item:hover{
	background: transparent;
}
.mis-vis-grid-title{
	max-width: 600px;
	width: 100%;
	margin-bottom: 50px;
}
.mis-vis-grid-cntlr3,
.img-text-row {
	margin-left: 80px;
	padding-left: 80px;
	border-left: 1px solid #0c224b;
}
.img-text-row-inr {
	display: flex;
	align-items: center;
	flex-wrap: wrap;	
	padding-bottom: 40px;
}
.row-text,
.row-img {
	width: 50%;
}
.row-text{
	padding-left: 50px;
}
.row-rgt-img-text .row-text{
	padding-left: 0;
	padding-right: 50px;
}
.row-text p:last-child{
	margin-bottom: 0;
}
.row-rgt-img-text .row-img{
	order: 2;
}
.row-rgt-img-text .row-text{
	order: 1;
}
.has-video.row-img-inner,
.has-inline-bg.row-img-inner{
	height: 300px;
}
.has-inline-bg.row-img-inner div{
	height: 100%;
	width: 100%;
}
.has-inline-bg.row-img-inner img{
	display: none;
}
.has-video img,
.has-video div.row-inline-img{
	display: none;
}
.row-img-inner{
	overflow: hidden;
	border-radius: 16px;
}
.mis-vis-grid-cntlr,
.mis-vis-grid-cntlr4,
.mis-vis-grid-cntlr2{
	padding-bottom: 50px;
}
.mis-vis-grid-cntlr4.ethics-cntlr-grid ul li:nth-child(2) {
	margin-top: 100px;
}
.mis-vis-grid-cntlr4.ethics-cntlr-grid ul li:nth-child(3) {
	margin-top: 200px;
}
.row-text-title{
	text-transform: uppercase;
}


@media (max-width: 1399px){
	.skill-section-con ul li{
		min-height: 420px;
	}
}
@media (max-width: 1199px){
	.about-overview-con-desc {
    	margin-bottom: 50px;
	}
	.believe-in-tab ul{
		margin: 0 -7px;
	}
	.believe-in-tab ul li{
		padding: 0 7px;
	}
	.skill-section-con ul li {
    	min-height: 300px;
	}
	.mis-vis-grid-item{
		padding-left: 10px;
		padding-right: 10px;
	}
}
@media (max-width: 991px){
	.about-overview-rgt-img{
		margin-top: -15px;
	}
	.about-overview-con p{
		line-height: 1.6;
	}
	ul.about-overview-feature li{
		padding-left: 50px;
	}
	ul.about-overview-feature li div p{
		font-size: 14px;
	}
	.ethics-item{
	    padding: 30px 15px;
	}
	.ethics-item-icon img{
		max-height: 70px;
		min-height: 0;
	}
	.ethics-item{
		justify-content: initial;
	}
	.ethics-item-desc{
		text-align: center;
	}
	.ethics-item-desc p{
		font-size: 16px;
	}
	.believe-in-lft, 
	.believe-in-rgt{
		width: 100%;
	}
	.believe-in-rgt{
		padding-left: 0;
	}
	.believe-in-lft {
    	padding-bottom: 30px;
    	text-align: center;
	}
	.philosophy-item{
		padding: 30px 15px;
	}
	.philosophy-item-img img{
		min-height: 80px;
	}
	.skill-bx h4{
		font-size: 18px;
	}
	.skill-bx p{
		font-size: 15px;
	}
	.skill-bx{
		padding: 0 16px;
	}
	.skill-section-con ul li {
    	min-height: 280px;
	} 
	.philosophy-grid ul{
		padding: 0 50px;
	}
	.philosophy-grid ul li{
		width: 50%;
		margin-bottom: 35px;
	}
	.mis-vis-grid-cntlr ul li{
		width: 50%;
	}
	.mis-vis-grid-cntlr ul li:nth-child(2) .mis-vis-grid-item{
		margin-top: 0;
	}
	.mis-vis-grid-cntlr ul {
		padding: 0 50px;
	}
}
@media (max-width: 767px){
	.about-overview-rgt-img,
	.about-overview-con-desc{
		width: 100%;
	}
	.about-overview-con-desc{
		padding-right: 0;
		order: 2;
	}
	.about-overview-rgt-img{
		padding-left: 0;
		order: 1;
		max-width: 400px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 0;
		margin-bottom: 30px;
	}
	.about-overview-rgt-img img{
		width: 100%;
	}
	.about-overview-feature-con{
		order: 3;
	}
	ul.about-overview-feature li{
		width: 50%;
		padding-right: 25px;
	}
	.skill-section-con ul li,
	.philosophy-grid ul li, 
	.ethics-cntlr-grid ul li{
		width: 50%;
	}
	.philosophy-grid ul li, 
	.ethics-cntlr-grid ul li{
		margin-bottom: 35px;
	}
	.mis-vis-grid-cntlr ul ,
	.philosophy-grid ul{
		padding: 0;
	}
	.mis-vis-grid-title {		
		margin-bottom: 40px;
	}
}
@media (max-width: 639px){
	.mis-vis-grid-cntlr ul li {
		width: 100%;
	}
	.mis-vis-grid-col {
		max-width: 400px;
		width: 100%;
		margin: 0 auto;
	}
	.mis-vis-grid-title{
		max-width: 100%;
		text-align: center;
	}
	.mis-vis-grid-title {
		margin-bottom: 35px;
	}
}
@media (max-width: 575px){
	ul.about-overview-feature li{
		width: 100%;
		padding-right: 0;
	}
	.skill-section-con ul, 
	.philosophy-grid ul, 
	.ethics-cntlr-grid ul{
		margin: 0;
	}
	.skill-section-con ul li, 
	.philosophy-grid ul li, 
	.ethics-cntlr-grid ul li{
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
	.philosophy-item,
	.ethics-cntlr-grid {
    	max-width: 400px;
    	width: 100%;
    	margin-left: auto;
    	margin-right: auto;
	}
	.philosophy-grid ul li{
		padding-left: 0;
		padding-right: 0;
	}
	.believe-in-tab ul li a{
		padding-bottom: 5px;
	}
	.believe-in-tab ul li{
		margin-bottom: 15px;
	}
	.about-overview-con p{
		font-size: 17px;
	}
	.about-overview-con p:first-letter{
		font-size: 50px;
	}
	.believe-in-tab-des-bx i img {
    	max-height: 70px;
    	width: auto;
	}
}
@media (max-width: 479px){
	.sec-entry-hdr-title br{
		display: none;
	}
}
@media (max-width: 359px){
	.philosophy-cntlr .sec-entry-hdr-title.fl-h2{
	    font-size: 25px;
	}
	.mis-vis-grid-title{
		font-size: 28px!important;
		margin-bottom: 30px;
	}
}