
.iit-blog-single-page-des{
	padding: 150px 0;
}




.iit-blog-single-page-sidebar{
	float: left;
	width: 215px;
}

.iit-blog-single-page-content{
	width: calc(100% - 215px);
	float: right;
    padding-left: 150px;
}



.iit-blog-single-page-content blockquote{
	font-weight: 700;
    margin-bottom: 50px;
    font-size: 21px;
    line-height: 34px;
    position: relative;
    color: #000;
    margin-top: 95px;
}
.iit-blog-single-page-content blockquote:before{
	content: "";
    background-image: url('../images/quotes_image.png');
    background-size: 50px;
    width: 50px;
    height: 50px;
    display: block;
    background-repeat: no-repeat;
    margin-bottom: 15px;
    position: absolute;
    top: -50px;
}


.post-info > div{
    margin-bottom: 20px;
}
.post-info .text-holder{
    font-size: 12px;
    color: #000;
    letter-spacing: 2px;
    margin-bottom: 0;
    line-height: 15px;
    font-weight: 700;
    text-transform: uppercase;
}
.post-info .author-nickname a{
    line-height: 35px;
    font-weight: normal;
    color: #000;
}

.cat-links ul li{
    padding-top: 10px;
    padding-bottom: 10px;
}
.cat-links ul li a{
    font-size: 15px;
    line-height: 11px;
    color: inherit;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    padding: 0 0 5px;
    transition: initial;
}


.iit-sidebar-menu{
    padding: 30px 20px 50px 0;
}
.post-info{
    position: relative;
}
.post-info:after{
    content: "";
    width: 5px;
    height: 100%;
    position: absolute;
    right: -20px;
    top: -5px;
    background-color: #000;
}