/*
---------------------
 Contact Form
---------------------
*/
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container:after,
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container:before{
	content: "";
	clear: both;
	display: table;
}
.contact-form-wrp  div.wpforms-container-full .wpforms-form .wpforms-field{
	clear: initial;
}

.contact-form-sec-wrp {
    padding-top: 90px;
    padding-bottom: 100px;
}
.contact-form-rgt-con {
    width: 52%;
    float: right;
    padding-left: 109px;
}
.contact-form-lft-con {
    float: left;
    width: 48%;
}
.contact-form-map {
    position: relative;
}
.map-dsc {
    background: #fff;
    position: absolute;
    top: -65px;
    z-index: 3;
    padding: 17px 22px 17px 30px;
    left: 50%;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
#googlemap {
    height: 405px;
    margin-top: 10px;
}
.wpforms-field-container{
	margin: 0 -12px;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field {
    width: 50%;
    float: left;
    padding: 0 12px;
    margin-bottom: 28px;
    position: relative;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.NameField{
	padding-top: 32px;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.FullWidthField,
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.wpforms-field-textarea{
	width: 100%;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field label {
    display: inline-block;
    vertical-align: baseline;
    width: auto;
    margin: 0;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 600;
    color: #000000;
    margin-bottom: 11px;
    letter-spacing: normal;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field input {
    width: 100%;
    max-width: 100%;
    height: 48px;
    background: #fff;
    border: 1px solid #E7EAEC;
    box-sizing: border-box;
    padding: 15px 15px 16px;
    color: #000000;
    font-weight: 300;
    font-size: 14px;
    border-radius: 0!important;
    line-height: 1;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    letter-spacing: -0.02em;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container label.wpforms-error {
    display: none;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-textarea textarea {
    width: 100%;
    height: 120px;
    background: #fff;
    border: 1px solid #ECF1F4;
    box-sizing: border-box;
    color: #000000;
    background: #fff;
    font-size: 14px;
    line-height: 1;
    font-weight: 300;
    padding: 14px 15px;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    resize: none;
    display: block;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-description p {
    font-size: 12px;
    line-height: 1;
    color: #000000;
    margin-bottom: 5px;
    padding-top: 28px !important;
    letter-spacing: -0.02em;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-description p a {
    color: #000000;
    text-decoration: underline;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-description p a:hover{
	color: #FFA800;
    text-decoration: none;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-submit-container button {
    min-width: 200px;
    border: 2px solid #000000!important;
    background: #000000;
    font-size: 14px!important;
    line-height: 1 !important;
    color: #fff!important;
    text-transform: uppercase;
    font-weight: 500!important;
    transition: all 0.5s!important;
    -ms-transition: all 0.5s!important;
    -webkit-transition: all 0.5s!important;
    cursor: pointer!important;
    padding: 15px 15px!important;
    text-align: center;
    letter-spacing: -0.02em;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-submit-container button:hover {
    background: #FFA800 !important;
    color: #fff !important;
    border-color: #FFA800 !important;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-textarea textarea:focus, .contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field input:focus {
    border-color: #c0bebe;
}