/*
---------------------
 Contact Form
---------------------
*/


.contact-form-sec-wrp {
    padding-top: 90px;
    /*padding-bottom: 100px;*/
    padding-bottom: 40px;
    position: relative;
    z-index: 5;
    overflow: hidden;
}
.contact-frm-sec-bg {
    background-image: url(../images/contact-frm-sec-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    position: absolute;
    right: -300px;
    top: 0;
    bottom: 0;
    max-width: 728px;
    width: 100%;
    z-index: -1;
}
.contact-form-wrp{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;
}
.contact-form-lft-con {
    width: 52%;
    padding-right: 90px;
}
.contact-form-rgt-con {
    width: 48%;
}
.contact-form-fea-img {
    position: relative;
    height: 318px;
    display: flex;
    align-items: center;
}
.contact-form-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    display: block;
}
.contact-form-details-lft {
    width: 50%;
    position: relative;
    padding-left: 20px;
    padding-right: 10px;
}

.contact-form-details-rgt {
    width: 50%;
    padding-left: 20px;
    padding-right: 10px;
    /* position: relative; */
}
.cnt-details-heading {
    color: #fff;
    margin-bottom: 12px;
    text-transform: capitalize;
    font-weight: 500;
    position: relative;
    padding-bottom: 10px;
}
.cnt-details-heading:after {
    position: absolute;
    content: '';
    bottom: 0px;
    left: 0;
    width: 50px;
    height: 3px;
    background: #fff;
}
.cnt-details-sub-heading {
    color: #fff;
    margin-bottom: 8px;
    font-weight: 300;
    font-size: 20px;
}
.contact-form-details-rgt .ftr-details-col{
    margin-bottom: 15px;
}
.contact-form-details-rgt .ftr-details-col a{
    margin-bottom: 0; 
    line-height: 1;
    color: #fff;
}

.contact-form-details-lft p {
    color: #fff;
    margin-bottom: 12px;
    font-size: 16px;
}
.contact-form-fea-img img{
	display: none;
}
.contact-form-map {
    position: relative;
}
.map-dsc {
    background: #fff;
    position: absolute;
    top: -55px;
    z-index: 3;
    width: 100%;
    max-width: 300px;
    padding: 17px 22px 17px 22px;
    left: 50%;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
#googlemap {
    height: 405px;
    margin-top: 10px;
}
.wpforms-field-container{
	margin: 0 -12px;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field {
    width: 50%;
    float: left;
    padding: 0 12px;
    margin-bottom: 22px;
    position: relative;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.NameField{
	padding-top: 32px;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container:after,
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container:before{
	content: "";
	clear: both;
	display: table;
}
.contact-form-wrp  div.wpforms-container-full .wpforms-form .wpforms-field{
	clear: initial;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.FullWidthField,
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.wpforms-field-textarea{
	width: 100%;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field label {
    display: inline-block;
    vertical-align: baseline;
    width: auto;
    margin: 0;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 600;
    color: #000000;
    margin-bottom: 11px;
    letter-spacing: normal;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field input {
    width: 100%;
    max-width: 100%;
    height: 48px;
    background: #fff;
    border: 1px solid #E7EAEC;
    box-sizing: border-box;
    padding: 15px 15px 16px;
    color: #000000;
    font-weight: 300;
    font-size: 14px;
    border-radius: 0;
    line-height: 1;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    letter-spacing: -0.02em;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container label.wpforms-error {
    display: none;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-textarea textarea {
    width: 100%;
    height: 120px;
    background: #fff;
    border: 1px solid #ECF1F4;
    box-sizing: border-box;
    color: #000000;
    background: #fff;
    font-size: 14px;
    line-height: 1;
    font-weight: 300;
    padding: 14px 15px;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    resize: none;
    display: block;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-description p {
    font-size: 12px;
    line-height: 1;
    color: #000000;
    margin-bottom: 5px;
    padding-top: 17px;
    letter-spacing: -0.02em;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-description p a {
    color: #000000;
    text-decoration: underline;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-description p a:hover{
	color: #ff9140;
    text-decoration: none;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-submit-container button {
    display: inline-block;
    vertical-align: baseline;
    width: 210px;
    height: 48px;
    position: relative;
    color: #fff;
    background: #ff9140;
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    letter-spacing: 0.25px;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-submit-container button:before{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    display: block;
    content: '';
    width: 0;
    height: 0;
    background: rgba(255,255,255,.2);
    border-radius: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-submit-container button:hover:before {
    opacity: 1;
    animation: circle .75s;
    -webkit-animation: circle .75s;
    -ms-animation: circle .75s;
    -o-animation: circle .75s;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-submit-container button:hover {
    color: #fff;
    background: #5EAD46;
    /*border-color: #5EAD46;*/
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-textarea textarea:focus, .contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field input:focus {
    border-color: #c0bebe;
}
.contact-form-top .sec-entry-hdr .sec-entry-heading-title{
	padding-top: 0px;
}
.contact-form-top .sec-entry-hdr .sec-entry-heading-title h2{
	margin-bottom: 0px;
}
.contact-form-top .sec-entry-hdr{
	padding-bottom: 0;
}
.contact-form-top .sec-entry-hdr .sec-entry-hdr-des p{
	margin-bottom: 13px;
}


.contect-form-btm {
    padding-top: 50px;
}
.contect-form-btm ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12px;
    padding-top: 10px;
}
.contect-form-btm ul li{
    padding: 0 12px;
    width: 33.33%;
}
.contect-grid-img i {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    font-size: 48px;
    color: #fff;
}
.contect-grid-img {
    display: flex;
    margin-bottom: 20px;
}
.contect-grid-des {
    text-align: center;
}
.contect-grid-heading {
    margin-bottom: 16px;
    font-weight: 600;
    color: #fff;
}
.contect-grid-des p {
    color: #fff;
    margin-bottom: 0;
}
.contect-grid-item {
    padding: 30px 20px;
    background: #000;
}
.contact-form-btm-sec {
    background: #f5f5f5;
    padding-bottom: 50px;
}



.map-section {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0!important;
    background: rgba(17,17,17,.75);
    z-index: 2;
    cursor: pointer;
    -webkit-transition: all .27s cubic-bezier(.3,.1,.58,1);
    -moz-transition: all .27s cubic-bezier(.3,.1,.58,1);
    -o-transition: all .27s cubic-bezier(.3,.1,.58,1);
    -ms-transition: all .27s cubic-bezier(.3,.1,.58,1);
    transition: all .27s cubic-bezier(.3,.1,.58,1);
}
.map-toggle {
    width: 200px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -100px;
    color: #fff;
    text-align: center;
}
.mt-icon {
    width: 27px;
    height: 27px;
    line-height: 27px;
    margin: 6px auto 25px;
    position: relative;
    color: #111;
    -webkit-transition: all .27s cubic-bezier(.3,.1,.58,1);
    -moz-transition: all .27s cubic-bezier(.3,.1,.58,1);
    -o-transition: all .27s cubic-bezier(.3,.1,.58,1);
    -ms-transition: all .27s cubic-bezier(.3,.1,.58,1);
    transition: all .27s cubic-bezier(.3,.1,.58,1);
}
.mt-icon:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.mt-icon i, .mt-icon span {
    position: relative;
}
.mt-text {
    margin-left: 12px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: .3em;
    color: rgba(255,255,255,.75);
}
.mt-close {
    display: none;
}
.map-section.js-active {
    height: 25px;
    background: rgba(17,17,17,.75);
}
.map-section.js-active .mt-icon {
    opacity: 0;
}
.map-section.js-active .mt-text {
    position: relative;
    top: -20px;
}
.map-section.js-active .mt-text {
    font-size: 14px;
}

/*responsive-start*/

@media (max-width: 1399px){
    .contact-form-sec-wrp {
        padding-top: 80px;
        padding-bottom: 90px;
    }
}
@media (max-width: 1399px){
    .contact-form-sec-wrp {
        padding-top: 70px;
        padding-bottom: 80px;
    }
    .contact-form-lft-con{
        padding-right: 60px;
    }
}
@media (max-width: 1199px){
    .contact-form-sec-wrp {
        padding-top: 60px;
    }
    .contact-form-lft-con{
        padding-right: 60px;
    }
}
@media (max-width: 991px){
    .contact-form-lft-con,
    .contact-form-rgt-con{
        width: 100%;
    }
    .contact-form-lft-con {
        padding-right: 0px;
        padding-bottom: 60px;
    }
    .contact-form-top {
        max-width: 600px;
        width: 100%;
        margin: auto;
    }
    .contact-form-lft-con {
        max-width: 600px;
        width: 100%;
        margin: auto;
    }
    .contect-form-btm ul li{
        width: 100%;
    }
    .contect-form-btm{
        max-width: 500px;
        width: 100%;
        margin: 0 auto;
    }
}
@media (max-width: 639px){
    .contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field{
        width: 100%;
    }
    .contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.NameField {
        padding-top: 3px;
    }
}

/*responsive-end*/