










.iit-service-grd-item-title.fl-h5 a{
	color: inherit;
}
.iit-service-grd-item-title.fl-h5 a:hover{
	color: #ff9140;
}
.iit-courses-grd-item .iit-service-grd-item-des{
	padding-right: 10px;
}
.iit-courses-grd-item .iit-service-grd-item-des ul li > a{
	color: inherit;
}
.iit-courses-grd-item .iit-service-grd-item-des ul li:before{
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.iit-courses-grd-item .iit-service-grd-item-des ul li:hover::before{
	background: #ff9140;
}






/*responsive*/
@media(max-width: 1199px){
	.iit-service-grd-item-img img{
		max-width: 36px;
		width: 100%;
		height: auto;
	}
}
@media(max-width: 991px){

}
@media(max-width: 767px){

}
@media(max-width: 575px){

}
@media(max-width: 479px){
	.iit-service-grd-item-img img{
		max-width: 30px;
		width: 100%;
		height: auto;
	}
	.iit-courses-grd-item .iit-service-grd-item-img{
		left: -5px;
	}
}