/**
All Transitions
*/
a,input,img,textarea,button,svg,i,.dft-transition{
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.scale{
	transform: scale(1.1);
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
}

/**
All Hovers
*/

.social-icon a:focus, 
.social-icon a:active, 
.social-icon a, 
.filter-menu li a:focus, 
.filter-menu li a, 
nav.main-nav ul li a:focus, 
nav.main-nav ul li a:active,
nav.main-nav ul li a, 
.fl-button, 
.fancybox-close-small, 
.fancybox-close-small:focus, 
.fancybox-close-small::after, 
.fancybox-close-small:hover {
    outline: none;
    text-decoration: none;
}

/* all hover color */

.hdr-details-col a:hover i,
.hdr-details-col a:hover,
nav.main-nav > ul > li.menu-item-has-children:hover > a:before,
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li a:hover,
nav.main-nav > ul > li.menu-item-has-children:hover a,
nav.main-nav > ul > li > a:hover,
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:hover a,
.header-sticky .sticky-hdr nav.main-nav > ul > li > a:hover,
.iit-service-grd-item-des h5 a:hover,
.info-img span a:hover,
.our-works-grd-item .info-img strong a:hover,
.ftr-col-menu ul li a:hover,
.ftr-col-menu ul li a:hover:after,
.ftr-details-col a:hover,
.breadcrumb-cntlr ul li a:hover, 
.breadcrumb-cntlr ul li span:hover, 
.breadcrumb-cntlr ul li a span:hover,
.about-overview-con p:first-letter,
.ethics-item-title.fl-h6 a:hover,
.believe-in-tab ul li a.ui-tabs-active,
.believe-in-tab ul li a:hover,
.philosophy-item-title.fl-h6 a:hover,
.iit-team-des-title:hover a,
.iit-service-col-des-title a:hover,
.iit-ssbc-form .filter-check-row label a:hover,
.iit-testi-rating i,
.fl-pagination-ctlr ul li a,
.fl-pagination-ctlr ul li span,
.ftr-details-col-iocn,
.map-dsc span a:hover,
.header-sticky nav.main-nav > ul > li.menu-item-has-children:hover > a,
.contact-details-rgt .ftr-details-col a:hover{
    color: #F8800B;
}


/* hover background color */
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-submit-container button,
.iit-ssbc-form-submit-btn button,
nav.main-nav > ul > li > a:after,
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li a:after,
.info-img span a:hover:before,
.newsletter-form button,
.ftr-socials ul li a:hover,
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:after,
#toTop,
.link__line,
.iit-form-fields-tabs > ul > li a:hover,
.iit-form-fields-tabs > ul > li a.ui-tabs-active,
.fl-button{
    background-color: #F8800B;
}

/* all background color */

/* all border color */
.iit-ssbc-form-submit-btn button,
.ftr-socials ul li a:hover,
.believe-in-tab ul li a.ui-tabs-active,
.iit-form-fields-tabs > ul > li a:hover,
.iit-form-fields-tabs > ul > li a.ui-tabs-active{
    border-color: #F8800B;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li,
.ethics-cntlr-grid ul li:nth-child(2) .ethics-item,
.philosophy-grid ul li:nth-child(2) .philosophy-item{
    border-bottom-color:#F8800B;
}


.hdr-socials ul li a:hover{
    background: #F8800B;
    border-color: #F8800B;
    color: #fff;
}







/*.fl-button {
    position: relative;
    display: block;
    overflow: hidden;
}*/
/*.fl-button {
    display: inline-block;
    vertical-align: baseline;
    min-width: 210px;
    position: relative;
    color: #fff;
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
    text-align: center;
    padding: 14px 15px 13px 15px;
    overflow: hidden;
    letter-spacing: 1px;
}*/

a:focus,button:focus,input:focus,textarea:focus{
	outline: none;
}
a:hover{
	text-decoration: none;
}
nav.main-nav ul li:hover > a,
nav.main-nav ul li.current-menu-item a{
	
}

/*start of Noyon*/
.iit-courses-grd-item .iit-service-grd-item-des ul li > a:hover{
    color: #ff9140;
}



/*start of Shariful*/

.share-icon-sm:hover i{
    color: #fff;
    opacity: 0.7;
}
.iit-service-grd-item > a:hover,
.iit-service-grd-item-des > a:hover{
    padding-left: 38px;
    letter-spacing: 1px;
}
.iit-service-grd-item > a:hover:after,
.iit-service-grd-item-des > a:hover:after{
    width: 25px;
}
.iit-service-grd-item-des h5 a:hover{
    padding-left: 0;
    letter-spacing: initial;
}
.our-works-grd-item:hover .pgrd-item-img img{
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

.our-works-grd-item:hover .info-img{
    opacity: 1;
}
.our-works-grd-item:hover .pgrd-item-icon-img{
    opacity: 1;
    visibility: visible;
    -moz-transform: scale(1, 1);
    transform: scale(1, 1);
}
.our-works-grd-item:hover .info-img span a{
    margin-left: 0px;
}
.our-works-grd-item:hover .info-img strong a{
    margin-left: 0px;
}
.blog-grd-item:hover .blog-grd-item-img img {
    transform: rotate(-5deg) scale(1.2 , 1.2);
}
.our-works-grd-item:hover .our-works-grd-item-overlay{
    opacity: 1;
    visibility: visible;
    /*top: 25px;
    left: 25px;
    right: 25px;
    bottom: 25px;*/
}

.blog-grd-item:hover .blog-grd-item-more {
    transform: translate(0 , 0);
}
.article-controls a:hover{
    color: #5d9d32;
}


/*start of Keshob*/


.contact-form-wrp .wpforms-container .wpforms-form .wpforms-submit-container button:hover:before {
    opacity: 1;
    animation: circle .75s;
    -webkit-animation: circle .75s;
    -ms-animation: circle .75s;
    -o-animation: circle .75s;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-submit-container button:hover {
    color: #fff;
    background: #5EAD46;
    /*border-color: #5EAD46;*/
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}



