/**
All Transitions
*/
a,input,img,textarea,button,svg,i,.dft-transition{
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.scale{
	transform: scale(1.1);
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
}

/**
All Hovers
*/

.social-icon a:focus, 
.social-icon a:active, 
.social-icon a, 
.filter-menu li a:focus, 
.filter-menu li a, 
nav.main-nav ul li a:focus, 
nav.main-nav ul li a:active,
nav.main-nav ul li a, 
.fl-button, 
.fancybox-close-small, 
.fancybox-close-small:focus, 
.fancybox-close-small::after, 
.fancybox-close-small:hover {
    outline: none;
    text-decoration: none;
}

.fl-button {
    position: relative;
    display: block;
    overflow: hidden;
}
.fl-button {
    display: inline-block;
    vertical-align: baseline;
    width: 210px;
    height: 41px;
    position: relative;
    color: #fff;
    background: #ff9140;
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
    text-align: center;
    padding: 14px 0 0;
    overflow: hidden;
    letter-spacing: 1px;
}

a:focus,button:focus,input:focus,textarea:focus{
	outline: none;
}
a:hover{
	text-decoration: none;
}
nav.main-nav ul li:hover > a,
nav.main-nav ul li.current-menu-item a{
	
}

/*start of Noyon*/
.iit-courses-grd-item .iit-service-grd-item-des ul li > a:hover{
    color: #ff9140;
}



/*start of Shariful*/

.iit-team-des-title:hover a{
    color: #ff9140;
}
.share-icon-sm:hover i{
    color: #fff;
    opacity: 0.7;
}
.iit-service-grd-item-des > a:hover{
    padding-left: 38px;
    letter-spacing: 1px;
}
.iit-service-grd-item-des > a:hover:after{
    width: 25px;
}
.iit-service-grd-item-des h5 a:hover{
    padding-left: 0;
    letter-spacing: initial;
    color: #ff9140;
}
.our-works-grd-item-inr:hover .pgrd-item-img img{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.our-works-grd-item-inr:hover .info-img{
    opacity: 1;
}
.our-works-grd-item-inr:hover .pgrd-item-icon-img{
    opacity: 1;
    visibility: visible;
    -moz-transform: scale(1, 1);
    transform: scale(1, 1);
}
.our-works-grd-item-inr:hover .info-img span a{
    margin-left: 0px;
}
.our-works-grd-item-inr .info-img strong a:hover {
    color: #ff9140;
}

.info-img span a:hover{
    color: #ff9140;
}
.info-img span a:hover:before{
    background: #ff9140;
}
.our-works-grd-item-inr:hover .info-img strong a{
    margin-left: 0px;
}
.blog-grd-item:hover .blog-grd-item-img img {
    transform: rotate(-5deg) scale(1.2 , 1.2);
}

.blog-grd-item:hover .blog-grd-item-more {
    transform: translate(0 , 0);
}
.article-controls a:hover{
    color: #5d9d32;
}


/*start of Keshob*/