.iit-faq-ctlr{
	padding-top: 70px;
}

.iit-faq-tab{
	padding-bottom: 100px;
}
.iit-faq-tab ul{
	margin-left: -15px;
	margin-right: -15px;
}
.iit-faq-tab ul li{
	float: left;
	width: 25%;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 30px;
}
.iit-faq-tab ul li:last-child{
	border-right: none;
}
.iit-faq-tab ul li a{
	display: block;
	text-transform: capitalize;
	color: #000;
	padding: 20px 20px;
	text-align: center;
	border: 2px solid #ff9140;
}
.iit-faq-tab ul li a.current,
.iit-faq-tab ul li a:hover{
	background: #ff9140;
	color: #fff;
}

.iit-faq-tab-con{
	display: none;
}
.iit-faq-tab-con.current{
	display: block;
}


.iit-faq-accordion-des{
	display: none;
	padding-bottom: 1px;
	padding: 20px 70px 60px 30px;
}

.iit-faq-tab-con-title{
	margin-bottom: 50px;
	font-weight: 600;
}

.iit-faq-accordion-title{
	margin-bottom: 0;
	cursor: pointer;
	position: relative;
	padding: 25px 50px 25px 28px;
	border-top: 1px solid #d5dbdd;
	background: #ccc;
	line-height: 1.3;
}
.iit-faq-accordion-title:after{
	content: "";
	position: absolute;
	top: 50%;
	right: 20px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
    margin-top: -1px;
    background: url('../images/plas-icon.png');
    background-repeat: no-repeat!important;
    background-size: cover!important;
    background-position: center center!important;
    height: 16px;
    width: 16px;
}


.iit-faq-accordion-des p span{
	display: block;
	padding-bottom: 8px;
	word-break: break-all;
}

.iit-faq-accordion-title.active{
	background: #000;
	color: #fff;
}
.iit-faq-accordion-title.active:after{
	background: url('../images/minus.png');
    background-repeat: no-repeat!important;
    background-size: cover!important;
    background-position: center center!important;
    height: 2px;
    width: 16px;
}



@media(max-width: 1699px){
	.iit-faq-ctlr {
	    padding-top: 60px;
	}
	.iit-faq-tab {
	    padding-bottom: 80px;
	}
	.iit-faq-tab-con-title {
	    margin-bottom: 40px;
	}
	.iit-faq-accordion-des{
		padding: 20px 60px 50px 30px;
	}
	.iit-faq-accordion-title{
		padding: 20px 50px 20px 28px;
	}
}
@media(max-width: 1399px){
	.iit-faq-ctlr {
	    padding-top: 50px;
	}
	.iit-faq-tab {
	    padding-bottom: 70px;
	}
	.iit-faq-tab-con-title {
	    margin-bottom: 30px;
	}
	.iit-faq-accordion-des{
		padding: 20px 50px 40px 30px;
	}
}

@media(max-width: 991px){
	.iit-faq-ctlr {
	    padding-top: 40px;
	}
	.iit-faq-tab {
	    padding-bottom: 50px;
	    max-width: 600px;
	    width: 100%;
	    margin-left: auto;
	    margin-right: auto;
	}
	.iit-faq-tab-con-title {
	    margin-bottom: 25px;
	}
	.iit-faq-tab ul li {
	    width: 50%;
	}
	.iit-faq-accordion-des{
		padding: 20px 40px 30px 20px;
	}
}

@media(max-width: 575px){
	.iit-faq-ctlr {
	    padding-top: 30px;
	}
	.iit-faq-tab ul{
		margin-left: 0;
		margin-right: 0;
	}
	.iit-faq-tab ul li {
	    width: 100%;
	    padding-bottom: 20px;
	    padding-left: 0;
	    padding-right: 0;
	}
	.iit-faq-tab {
	    padding-bottom: 30px;
	    max-width: 350px;
	}
	.iit-faq-accordion-des{
		padding: 20px 20px 30px 20px;
	}
	.iit-faq-tab ul li a{
		padding: 15px 20px;
	}
}

@media(max-width: 479px){
	.iit-faq-accordion-des ul li{
		word-break: break-all;
	}
}