.footer-wrp{
	background: #151414;
	padding-top: 70px;
	position: relative;
}
.footer-skew{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	background-repeat: repeat!important;
	background-position: bottom!important;
	background-size: contain!important;
	padding: 120px 0;
}
.ftr-btm-skew{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
}
.ftr-btm-skew svg{
	left: 0;
	right: 0;
	max-width: 100%;
	width: 100%;
	height: 300px;
}
.footer-cntlr{
	position: relative;
	z-index: 3;
}
.ftr-top{
	padding-bottom: 50px;
	border-bottom: 1px solid #484545;
}
.ftr-col{
	float: left;
	padding-right: 20px;
	width: 100%;
}
.ftr-col-02{
	max-width: 30%;
	padding-left: 60px;
}
.ftr-col-03,
.ftr-col-01{
	max-width: 35%;
}
.ftr-col:last-of-type{
	padding-right: 0;
}
.ftr-logo{
	margin-bottom: 30px;
}
.ftr-logo a{
	display: inline-block;
	max-width: 180px;
}
.ftr-desc{
	margin-bottom: 20px;
}
.ftr-desc p{
	font-size: 14px;
	color: #fff;
	
}
.ftr-desc p:last-of-type{
	margin-bottom: 0;
}
.newsletter-form{
	position: relative;
}
.newsletter-form input{
	width: 100%;
	border-radius: 30px;
	padding: 10px 15px;
	padding-right: 47px;
	background: #fff;
	border: 1px solid transparent;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	font-size: 14px;
}
.newsletter-form input:focus{
	border-color: #333;
}




.newsletter-form input::-webkit-input-placeholder { 
  color: inherit;
  opacity: 1;
}
.newsletter-form input::-moz-placeholder {
  color: inherit;
  opacity: 1;
}
.newsletter-form input:-ms-input-placeholder { 
  color: inherit;
  opacity: 1;
}
.newsletter-form input:-moz-placeholder { 
  opacity: 1;
}

.newsletter-form button{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	right: 5px;
	height: 38px;
	width: 38px;
	cursor: pointer;
	border-radius: 50%;
	color: #fff;
}
.newsletter-form button:hover{
	background: #F8800B;
	color: #fff;
}
.ftr-col-hding{
	padding-bottom: 20px;
	margin-bottom: 25px;
	position: relative;
}

.fl-h4.ftr-col-title{
	color: #fff;
	margin-bottom: 0;
}
.ftr-col-menu{

}
.ftr-col-menu ul{
	margin: -8px 0;
}
.ftr-col-menu ul li{
	padding: 15px 0;
	line-height: 1;
}
.ftr-col-menu ul li a{
	color: #fff;
	display: inline-block;
	font-size: 14px;
	text-transform: capitalize;
	position: relative;
	padding-left: 15px;
}
.ftr-col-menu ul li a:after{
	position: absolute;
	content: "\f054";
	color: #fff;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	font-size: 11px;
	font-family: 'Font Awesome\ 5 Free';
	font-weight:600;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.ftr-col-menu ul li a:hover:after{
	left: 5px;

}
.ftr-col-menu ul li a:hover{
	padding-left: 20px;
}

.ftr-details-col{
	
}
.ftr-details-col-inr{
	margin-bottom: 20px;
	position: relative;
	padding-left: 45px;


}
.ftr-details-col-iocn{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	left: 0;
	font-size: 20px;
	height: 35px;
	width: 35px;
	background: #fff;
	border-radius: 63% 37% 30% 70%/50% 45% 55% 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.ftr-details-col-iocn i{
	display: inline-block;
	color: #5d9d32;
}
.ftr-details-col a{
	display: inline-block;
	color: #fff;
	margin-bottom: 1px;
	font-size: 14px;
}
.ftr-details-col a:last-of-type{
	margin-bottom: 0;
}
.ftr-btm{
	display: flex;
	justify-content: center;
	padding: 30px 0;
}
.ftr-btm p{
	margin-bottom: 0;
	color: #fff;
	text-align: center;
	font-size: 14px;
}
.ftr-socials ul{
	display: flex;
	margin: 0 -6px;
}
.ftr-socials ul li{
	padding: 0 6px;
}
.ftr-socials ul li a{
	height: 32px;
	width: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	/*color: #656565;*/
	color: #b3b2b1;
	background: transparent;
	/*border: 2px solid #656565;*/
	border: 2px solid #b3b2b1;
	border-radius: 100%;
	font-size: 14px;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	position: relative;
}
.ftr-socials ul li a i{
	transition: all 0s;
	-ms-transition: all 0s;
	-webkit-transition: all 0s;
}
.ftr-socials ul li a:hover{
 	color: #fff;
 	border-color: #5d9d32;
}
.ftr-socials {
    padding-top: 20px;
}

.ftr-desc p, 
.ftr-col-menu ul li a, 
.ftr-details-col a, 
.ftr-btm p, 
.ftr-col-menu ul li a:after{
	color: #969392;
	color: #b3b2b1;
}
.ftr-col .heading-divider{
	left: 0;
}

/*responsive*/
@media(max-width: 1699px){

}
@media(max-width: 1499px){
	
}
@media(max-width: 1299px){
	
}
@media(max-width: 1199px){
	.ftr-col-02{
		padding-left: 40px;
	}
}
@media(max-width: 991px){
	.ftr-top{
		max-width: 500px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.ftr-socials{
		padding-top: 10px;
	}
	.ftr-col-01{
		float: none;
		text-align: center;
		max-width: 100%;
		padding-right: 0;
		margin-bottom: 50px;
	}
	.ftr-logo a{
		max-width: 250px;
	}
	.ftr-col-02{
		padding-left: 0;
		max-width: 50%;
		padding-left: 20px;
	}
	.ftr-col-03{
		max-width: 50%;
	}
}
@media(max-width: 767px){
	.ftr-logo a{
		max-width: 200px;
	}
	.ftr-col-02{
		max-width: 40%;
		margin-left: 5%;
	}
	.ftr-col-03{
		max-width: 50%;
		margin-right: 5%;
	}
	.ftr-btm-skew svg{
		height: 180px;
	}
}
@media(max-width: 575px){
	.ftr-col-02{
		max-width: 100%;
		margin-bottom: 40px;
		padding: 0;
		margin-left: 0;
	}
	.ftr-col-03{
		max-width: 100%;
		margin-right: 0;
	}
	.ftr-col-menu ul{
		text-align: center;
	}
	.ftr-details-col{
		max-width: 231px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		transform: translateX(10px);
		-ms-transform: translateX(10px);
		-webkit-transform: translateX(10px);
		-o-transform: translateX(10px);
	}
	.ftr-tell-inr,
	.ftr-email-inr{
		margin-left: 20px;
	}
	.ftr-socials ul{
		justify-content: center;
	}
	.ftr-btm-skew svg{
		height: 150px;
	}
	
}
@media(max-width: 479px){
	.ftr-col-03{
		max-width: 100%;
	}
	.ftr-details-col{
		transform: initial;
		-ms-transform: initial;
		-webkit-transform: initial;
		-o-transform: initial;
	}
	.ftr-tell-inr,
	.ftr-email-inr{
		margin-left: 30px;
	}

}