/**
Start header
*/

header.header{
	border-bottom: 2px solid #f0f0f0;
}
.home header.header{
	background: transparent;
}
header.header{
	background: #fff;
}
header .hdr-top-bar{
	padding:37px 0;
}


header .sticky-hdr{
	background: transparent;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 9999999;
	padding: 40px 0 40px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
header .fixed-hdr{
	background: #000;
	box-shadow: 1px 0px 2px #000;
	padding: 15px 0 15px;
	transition: all .5s;
	-ms-transition: all .5s;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
}
.hdr-inner{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.hdr-lft{
	padding-right: 60px;
	max-width: 22%;
	width: 100%;
}

.logo a{
	display: inline-block;
	max-width: 195px;
}

.hdr-right{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	max-width: 78%;
	width: 100%;
}
.hdr-menu{
	padding-right: 20px;
	margin-right: auto;
}
.hdr-btn{
	margin-left: auto;
}
.fixed-hdr .nav-opener{
	transition: all .5s;
	-ms-transition: all .5s;
	-webkit-transition: all .5s;
	-o-transition: all .5s;	
}
nav.main-nav > ul{
	display: flex;
	align-items: center;
	margin: 0 -15px;
	padding-top: 8px;
}
nav.main-nav > ul > li{
	padding: 0 15px;
	position: relative;
}
nav.main-nav > ul > li > a{
	position: relative;
	color: #000;
	font-size: 15px;
	line-height: 100%;
	text-transform: uppercase;
	font-weight: 700;	
	display: inline-block;
	vertical-align: top;
	padding-bottom: 8px;
	color: #fff;
}
nav.main-nav > ul > li > a:after{
	position: absolute;
	content: "";
	bottom: 0;
	left: 0;
	right: 0;
	transform: scale(0, 1);
	-ms-transform: scale(0, 1);
	-webkit-transform: scale(0, 1);
	-o-transform: scale(0, 1);
	transform-origin: center center 0;
	-ms-transform-origin: center center 0;
	-webkit-transform-origin: center center 0;
	-o-transform-origin: center center 0;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
	background: #5EAD46;	
	height: 2px;
	width: 100%;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li a:hover,
nav.main-nav > ul > li.menu-item-has-children:hover a,
nav.main-nav > ul > li > a:hover{
	color: #5EAD46;
}


nav.main-nav > ul > li:hover > a:after {
	transform: scale(1,1);
	-ms-transform: scale(1,1);
	-webkit-transform: scale(1,1);
	-o-transform: scale(1,1);
}
nav.main-nav > ul > li.menu-item-has-children:hover a:after{
	content: none;
}




nav.main-nav > ul > li > ul.sub-menu li{

}
nav.main-nav > ul > li.menu-item-has-children > a{
	padding-right: 20px;
}
nav.main-nav > ul > li.menu-item-has-children > a:before{
	content: "";
	position: absolute;
	top: 2px;
	right: 0;
	background-image: url('../images/bottom-arrow.svg');
	height: 9px;
	width: 14px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
nav.main-nav > ul > li.menu-item-has-children:hover > a:before{
	transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
}

nav.main-nav > ul > li.menu-item-has-children ul.sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    z-index: 10;
    width: 200px;
    padding:  0;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transform: scale3d(1,0,1);
    -ms-transform: scale3d(1,0,1);
    -webkit-transform: scale3d(1,0,1);
    -o-transform: scale3d(1,0,1);
    transform-origin: top;
    opacity: 0;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 15%);
    -ms-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.15%);
    -webkit-box-shadow: 0 2px 12px 0 rgb(0 0 0 / 15%);


}
nav.main-nav > ul > li.menu-item-has-children:hover ul.sub-menu {
    transform: scale3d(1,1,1);
    -ms-transform: scale3d(1,1,1);
    -webkit-transform: scale3d(1,1,1);
    -o-transform: scale3d(1,1,1);
    opacity: 1;
    visibility: visible;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li {
    padding: 0 0;
    line-height: 1;
    display: block;
    position: relative;
   /* border-bottom: 1px solid #5EAD46;*/
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li a:after{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	content: "";
	background: #000;
	height: 2px;
	z-index: 2;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:last-child a:before,
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:last-child a:after{
	content: none;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li a:before{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 0;
	content: "";
	background: #5EAD46;
	height: 2px;
	transition: all 0.8s;
	-ms-transition: all 0.8s;
	-webkit-transition: all 0.8s;
	z-index: 5;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:hover a:before{
	width: 100%;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li a {
    display: block;
    padding: 11px 14px;
    position: relative;
    line-height: 1;
    font-size: 14px;
    color: #000;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li a:hover{
	padding-left: 18px;
	letter-spacing: 0.3px;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    width: 2px;
    height: 0;
    background: #5EAD46;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:last-child{
	border-bottom: 0;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:hover:after{
	height: 100%;
}
.hdr-btn{
	display: flex;
}
.hdr-btn .fl-button:hover{
	color: #fff;
	background: #5EAD46;
}