/**
Start header
*/
/*.header-bg-div{
	height: 129.19px;
	width: 100%;
	background: #000;
}*/
/*header{
	border-bottom: 2px solid #f0f0f0;
}*/
.home header{
	background: transparent;
}
.header{
	background: #fff;
	width: 100%;
	display: block;
	position: relative;
	z-index:20;
}
.hdr-bdr{
	background: rgb(12,34,75);
	background: linear-gradient(
	90deg, rgba(12,34,75,0.8575805322128851) 25%, rgba(248,128,11,0.8799894957983193) 46%, rgba(93,157,50,0.7399334733893557) 71%);
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
	height: 5px;
	z-index: 50;
}

.logo-white{
	display: none;
}
.header-sticky .logo-white{
	display: block;
}
.header-sticky .logo-transparent{
	display: none;
}
.logo{
	display: flex;
}

.sticky-hdr{
	background: #fff;
	position: static;
	z-index: 999;
	padding: 20px 0 0;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.header-sticky{
	position: fixed;
	left: 0;
	right: 0;
	top: -76px;
	background: #000;
	transition: all 0.2s;
	-ms-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	z-index: 999;
	opacity: 0;
}
.header-sticky .logo a{
	max-width: 180px;
}
.header-sticky .sticky-hdr{
	background: #000;
	padding:  0;
}
.header-sticky.fixed-hdr{
	top: 0;
	opacity: 1;
	transition: all 0.51s ease-out;
	-ms-transition: all 0.51s ease-out;
	-webkit-transition: all 0.51s ease-out;
	-o-transition: all 0.51s ease-out;
}
.header-sticky .hdr-lft{
	position:static;
}
.hdr-inner{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	position: relative;
}
.hdr-lft{
	
}
.hdr-lft{
	position: absolute;
	left: 0;
	bottom: 25px;
}
.logo{

}
.logo a{
	display: inline-block;
	max-width: 195px;
}

.hdr-right{
	margin-left: auto;
}
.hdr-menu{

}
.hdr-btn{
	margin-left: auto;
}
.fixed-hdr .nav-opener{
	transition: all .5s;
	-ms-transition: all .5s;
	-webkit-transition: all .5s;
	-o-transition: all .5s;	
}
nav.main-nav > ul{
	display: flex;
	align-items: center;
	margin: 0 -12px;
	padding-top: 25px;
	justify-content: flex-end;
}
nav.main-nav > ul > li{
	padding: 0 15px;
	position: relative;
}
nav.main-nav > ul > li > a{
	position: relative;
	font-size: 15.3px;
	line-height: 100%;
	text-transform: uppercase;
	font-weight: 700;	
	display: inline-block;
	vertical-align: top;
	padding-bottom: 25px;
	letter-spacing: 0.15px;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li a,
nav.main-nav > ul > li > a{
	color: #0c224b;
}


.header-sticky .sticky-hdr nav.main-nav > ul > li > a{
	color: #fff;
}
.header-sticky .sticky-hdr nav.main-nav > ul > li.menu-item-has-children > a:before{
	color: #fff;
}
.header-sticky .sticky-hdr nav.main-nav > ul > li.menu-item-has-children:hover > a:before{
	color: #F8800B;
}
nav.main-nav > ul > li > a:after{
	position: absolute;
	content: "";
	bottom: 0;
	left: 0;
	right: 0;
	transform: scale(0, 1);
	-ms-transform: scale(0, 1);
	-webkit-transform: scale(0, 1);
	-o-transform: scale(0, 1);
	transform-origin: center center 0;
	-ms-transform-origin: center center 0;
	-webkit-transform-origin: center center 0;
	-o-transform-origin: center center 0;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;	
	height: 2px;
	width: 100%;
}



nav.main-nav > ul > li:hover > a:after {
	transform: scale(1,1);
	-ms-transform: scale(1,1);
	-webkit-transform: scale(1,1);
	-o-transform: scale(1,1);
}
nav.main-nav > ul > li.menu-item-has-children:hover a:after{
	content: none;
}




nav.main-nav > ul > li > ul.sub-menu li{

}
nav.main-nav > ul > li.menu-item-has-children > a{
	padding-right: 16px;
}
nav.main-nav > ul > li.menu-item-has-children > a:before{
	/*content: "";
	position: absolute;
	top: 2px;
	right: 0;
	background-image: url('../images/bottom-arrow.svg');
	height: 9px;
	width: 14px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;*/

	content: "\f107";
	position: absolute;
	right: 0;
	color: #0c224b;
	font-size: 17px;
	top: 0px;
	font-family: 'Font Awesome\ 5 Free';
	font-style: normal;
	font-weight: 600;
	text-decoration: inherit;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
nav.main-nav > ul > li.menu-item-has-children:hover > a:before{
	transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
}

nav.main-nav > ul > li.menu-item-has-children ul.sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    z-index: 10;
    width: 200px;
    padding:  0;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transform: scale3d(1,0,1);
    -ms-transform: scale3d(1,0,1);
    -webkit-transform: scale3d(1,0,1);
    -o-transform: scale3d(1,0,1);
    transform-origin: top;
    opacity: 0;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 15%);
    -ms-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.15%);
    -webkit-box-shadow: 0 2px 12px 0 rgb(0 0 0 / 15%);


}
nav.main-nav > ul > li.menu-item-has-children > ul.sub-menu{
	padding-top: 5px;
	z-index: 50;
}


nav.main-nav > ul > li.menu-item-has-children > ul.sub-menu:before {
	content: "";
    background: rgb(12,34,75);
    background: linear-gradient( 
90deg, rgba(12,34,75,0.8575805322128851) 25%, rgba(248,128,11,0.8799894957983193) 46%, rgba(93,157,50,0.7399334733893557) 71%);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 5px;
}
nav.main-nav > ul > li.menu-item-has-children:hover ul.sub-menu {
    transform: scale3d(1,1,1);
    -ms-transform: scale3d(1,1,1);
    -webkit-transform: scale3d(1,1,1);
    -o-transform: scale3d(1,1,1);
    opacity: 1;
    visibility: visible;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li {
    padding: 0 0;
    line-height: 1;
    display: block;
    position: relative;
    border-bottom-width:1px;
    border-bottom-style: solid;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li a {
    display: block;
    padding: 11px 14px;
    padding-left: 0;
    position: relative;
    line-height: 1;
    font-size: 14px;
    overflow: hidden;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li a:after{
	position: absolute;
	content: "";
	width: 5px;
	height: 5px;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	left: -30px;
	opacity: 0;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li{
	padding-left: 15px;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:hover a{
	padding-left: 15px;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:hover a:after{
	opacity: 1;
	left: 0;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    width: 2px;
    height: 0;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:last-child{
	border-bottom: 0;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:hover:after{
	height: 100%;
}
.hdr-btn{
	display: flex;
}
.hdr-btn .fl-button:hover{
	color: #fff;
	background: #5EAD46;
}


#toTop{
	width: 40px;
	height: 40px;
	border-radius: 50% 50%;
	position: fixed;
	right: 15px;
	bottom: 50px;
	cursor: pointer;
	color: #fff;
	display: none;
	z-index: 20;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}
#toTop:hover{
	background: #F8800B;
}
#toTop i{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
}
.hdr-topbar{
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.hdr-topbar-inr{
	padding-left: 40px;
	position: relative;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding-bottom: 10px;
	
}
.hdr-topbar-inr:after {
    content: '';
    position: absolute;
    top: 100%;
    right: 0;
    background: url(../images/hdr-border.svg);
    background-size: cover;
    height: 2px;
    width: 100%;
}
.hdr-socials{

}
.hdr-socials{
	padding-left: 25px;
	position: relative;
	margin-left: 25px;
}
.hdr-socials:after{
	position: absolute;
	content: "";
	height: 20px;
	width: 1px;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}
.hdr-socials ul {
    display: flex;
    margin: 0 -6px;
}
.hdr-socials ul li {
    padding: 0 6px;
}
.hdr-socials ul li a {
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    font-size: 13px;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    position: relative;
    border: 2px solid;
    border-radius: 100% 100%;
}




.hdr-socials ul li a i{
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.hdr-socials ul li a:hover i{
	color: #fff;
}

.hdr-details ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -10px;
    margin-top: -1px;
}
.hdr-details ul li {
    padding: 0 10px;
}
.hdr-details-col a{
	display: inline-block;
	padding-left: 20px;
	position: relative;
	color: #969392;
	font-size: 14px;
	font-weight: 500;
}

.hdr-details-col a i{
	position: absolute;
	top: 3px;
	left: 0;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	font-size: 14px;
}
.hdr-tel.hdr-details-col a{
	padding-left: 17px;
}
.hdr-tel.hdr-details-col a i{
	transform: rotate(100deg);
	-ms-transform: rotate(100deg);
	-webkit-transform: rotate(100deg);
	-o-transform: rotate(100deg);
	font-size: 12px;
	
}


.hdr-details-col a,
.hdr-socials ul li a{
	color: #5d9d32;
	border-color: #5d9d32;
}
.hdr-socials:after{
	background: #5d9d32;
}

/*.hdr-socials ul li a:hover {
    background-color: #5d9d32;
    color: #fff;
    border-color: #5d9d32;
}*/


/*hamburger-icon*/
.hamburger-icon{
	height: 17px;
	width: 22px;
	position: relative;
}
.header-sticky .hamburger-icon span{
	background: #fff;
}
.hamburger-icon span{
	position: absolute;
	content: "";
	height: 3px;
	left: 0;
	right: 0;
	top: 0;
	background: #000;
}
.hamburger-icon span:nth-child(2){
	top: 7px;
}
.hamburger-icon span:nth-child(3){
	top: 14px;
}
body.allWork .hamburger-icon span:nth-child(1) {
    top: 13px;
    width: 16px;
    left: 7px;
    transform: rotate(
45deg);
    background: #fff;
}
body.allWork .hamburger-icon span:nth-child(3) {
    top: 13px;
    left: 7px;
    width: 16px;
    transform: rotate(
-45deg);
    background: #fff;
}
body.allWork .hamburger-icon{
	width: 30px;
	height: 30px;
	background: #000;
}
body.allWork .hamburger-icon span:nth-child(2){
	content: none;
	display: none;
}


.allWork .bdoverlay {
    z-index: 9999;
    opacity: 1;
}
.bdoverlay {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    -ms-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    z-index: -1;
}
body.allWork {
    overflow: hidden!important;
}
.allWork .xs-mobile-menu {
    right: 0;
    opacity: 1;
    z-index: 99999;
    width: 100%;
}
.xs-mobile-menu {
    position: fixed;
    top: 0;
    right: -100%;
    bottom: 0;
    background: #fff;
    width: 0;
    z-index: 99999;
    opacity: 0;
    -ms-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    padding-top: 79px;
    height: 100%;
    max-width: 375px;
    width: 100%;
    padding-bottom: 118px;
    border-left: 2px solid #F8800B;

}
.xs-pop-up-menu-inr {
    height: 100%;
    width: 100%;
}
.xs-pop-menu-btm{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 4;
	background: #fff;
	padding-top: 10px;
}
.xs-pop-up-menu-top{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	padding: 0 20px;
}
.logo-close-btn-cntlr{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 20px 0;
}
.xs-logo{

}
.xs-logo a{
	display: inline-block;
	max-width: 170px;
}
.logo-close-btn-cntlr .hamburgar-cntlr{
	margin-left: auto;
}
.xs-pop-menu-con{
	overflow-y: auto;
	height: 100%;
	width: 100%;
	padding: 0px;
	z-index: 10;
}

/*body.allWork .hamburgar-cross{
	position: absolute;
	top: 30px;
	right: 20px;
	height: initial;
	width: initial;
	border: initial;
	background: initial;
}*/
.xs-pop-menu-btm .hdr-details{
	padding-bottom: 15px;
}
.xs-pop-menu-btm .hdr-details ul{
	padding: 0;
	margin: -7px 0;
	display: block;
}
.xs-pop-menu-btm .hdr-details ul li{
	padding: 7px 0;
}
.xs-mobile-menu .hdr-details-col{

}
.xs-mobile-menu .hdr-details-col a{
	font-size: 18px;
	padding-left: 30px;

}
.xs-mobile-menu .hdr-details-col a i{
	font-size: 18px;

}
.xs-mobile-menu.hdr-tel.hdr-details-col a{
	padding-left: 26px;
}
.xs-mobile-menu.hdr-tel.hdr-details-col a i{
	font-size: 16px;
}
.xs-menu{
	height: 100%;
	width: 100%;
	overflow-y: auto;
	padding-top: 10px;
}
.xs-pop-menu-btm{
	padding: 0 20px;
}
.xs-social .hdr-socials{
	padding-left: 0;
	margin-left: 0;
	padding: 15px 0;
}
.xs-social .hdr-socials ul{
	justify-content: flex-start;
}
.xs-social .hdr-socials ul li a{
	width: 32px;
	height: 32px;
	font-size: 18px;
	/*background: #F8800B;
	color: #fff;
	border-color: #F8800B;*/
}
.xs-social .hdr-socials:before{
	position: absolute;
	content: "";
	background: #909BA5;
	height: 1px;
	left: 0;
	right: 0;
	top: 0;
}
.xs-social .hdr-socials:after{
	content: none;
}

/*responsive*/
@media(max-width: 1699px){

}
@media(max-width: 1499px){
	
}
@media(max-width: 1299px){
	
}
@media(max-width: 1199px){
	.header-sticky .logo a,
	.logo a{
		max-width: 180px;
	}
}
@media(max-width: 991px){
	
	.header-sticky .logo a,
	.logo a{
		max-width: 170px;
	}
	nav.main-nav > ul{
		margin: 0 -8px;
	}
	nav.main-nav > ul > li{
		padding: 0 8px;
	}
	nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li{
		padding-left: 8px;
	}
	nav.main-nav > ul > li > a{
		font-size: 14px;
	}
}
@media(max-width: 767px){
	.sticky-hdr{
		padding-bottom: 20px;
	}
	.header-sticky .logo a,
	.logo a{
		max-width: 160px;
	}
	.hdr-topbar{
		display: none;
	}
	.header-sticky .sticky-hdr{
		padding: 20px 0;
	}

	nav.main-nav > ul {
		padding: 0;
		margin: 0;
		display: block;
	}
	nav.main-nav > ul > li{
		padding: 0;
	}
	nav.main-nav > ul > li > a {
		font-size: 16px;
		padding-bottom: 0;
		line-height: 1;
		display: block;
		width: 100%;
		position: relative;
		font-size: 15px;
		line-height: 1;
		text-transform: capitalize;
		border-top: 1px solid rgba(0,0,0,0.10);
		border-bottom: 1px solid rgba(0,0,0,0.10);
		padding: 12px 20px 12px 20px;
		text-transform: uppercase;
	}
	nav.main-nav > ul > li.current-menu-item > a{
		background: #F8800B;
		color: #fff;
	}
	nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:after{
		content: none;
	}
	nav.main-nav > ul > li.menu-item-has-children ul.sub-menu {
		position: static;
		z-index: 15;
		width: 100%;
		/*padding: 35px 0 0 0;*/
		transition: initial;
		transform: initial;
		opacity: 1;
		box-shadow: none;
		background: transparent!important;
		/*padding-bottom: 20px;*/
	}
	nav.main-nav > ul > li.menu-item-has-children ul.sub-menu:after{
		content: none;
		display: none;
	}
	nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li{
		/*margin-bottom: 7px;*/
		border-bottom: 0;
		padding: 0;
	}
	nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li a{
		font-size: 15px;
		background: transparent;
		padding: 0;
		border-top: 1px solid rgba(0,0,0,0.10);
		border-bottom: 1px solid rgba(0,0,0,0.10);
		padding: 12px 20px 12px 40px;
	}
	nav.main-nav > ul > li.menu-item-has-children > ul.sub-menu{
		padding-top: 0;
	}
	nav.main-nav > ul > li.menu-item-has-children > ul.sub-menu:before{
		content: none;
	}
	/*nav.main-nav > ul > li.menu-item-has-children > a:before {
		content: "";
		position: absolute;
		top: 11px;
		right: -27px;
		background-image: url(../images/xs-btm-arrow.svg);
		width: 22px;
		height: 14px;
		background-size: contain;
		transition: all 0.5s;
		-ms-transition: all 0.5s;
		-webkit-transition: all 0.5s;
	}*/
	nav.main-nav > ul > li.menu-item-has-children > a{
	padding-right: 0;
}
nav.main-nav > ul > li.menu-item-has-children > a:before{
	content: "";
	/*content: "";
	position: absolute;
	top: 2px;
	right: 0;
	background-image: url('../images/bottom-arrow.svg');
	height: 9px;
	width: 14px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;*/

	/*content: "\f107";
	position: absolute;
	right: -25px;
	color: #000;
	font-size: 26px;
	top: -4px;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;*/
}
	nav.main-nav > ul > li.menu-item-has-children.this-sub-menu-active > a:before {
		transform: rotate(-180deg);
		-o-transform: rotate(-180deg);
		-ms-transform: rotate(-180deg);
		-webkit-transform: rotate(-180deg);
	}
	nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li a:after{
		content: none;
	}
	.hdr-lft{
		position: static;
	}
	.xs-social .hdr-socials ul li a{
		height: 28px;
		width: 28px;
		font-size: 15px;
	}
	.xs-pop-menu-btm .hdr-details{
		padding-bottom: 10px;
	}
	.xs-social .hdr-socials{
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.xs-pop-menu-btm .hdr-details ul{
		margin-top: -2px;
		margin-bottom: -2px;
	}
	.xs-pop-menu-btm .hdr-details ul li{
		padding-top: 2px;
		padding-bottom: 2px;
	}
	.xs-mobile-menu .hdr-details-col a i{
		font-size: 16px;
	}
	.xs-mobile-menu .hdr-details-col a {
		font-size: 16px;
		padding-left: 25px;
	}
}
@media(max-width: 575px){

}
@media(max-width: 479px){
	.xs-mobile-menu{
		max-width: 100%;
	}
}