/* main banner  */
#bnr-vdo{
	overflow: hidden;
}
.hm-video-cntlr{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	overflow: hidden;
	display: none;
}
.has-video .hm-video-cntlr{
	display: block;
}
#bnr-vdo{
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    z-index: 3;
}
.hm-banner{
	position: relative;
}
.hm-banner-bg{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: auto;
	width: 0;
	z-index: 2;
	transition: all 1s;
	-ms-transition: all 1s;
	-webkit-transition: all 1s;
	background-attachment: fixed;
}
.has-video .hm-banner-bg{
	display: none;
}
.banner-effect .hm-banner-bg{
	width: 100%;
	left: 0;
}
.bnr-btm-skew-img{
	position: absolute;
	bottom: -1px;
	left: 0;
	right: 0;
	background-size: contain!important;
	background-position: left bottom!important;
	background-repeat: no-repeat!important;
	z-index: 7;
    content: "";
    height: 100%;
    width: 100%;
}
.page-banner-cntlr .bnr-btm-skew-img{
	bottom: 0;
}
.hm-banner-bg-black{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	background:rgba(0,0,0,0.4);
}
.hm-banner-overlay{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 3;
	background-position: center center!important;
	background-size: cover!important;
	background-repeat: repeat!important;
}
.hm-bnr-down-scroll{
	height: 157px;
	position: absolute;
	z-index: 9;
	bottom: 20px;
	left: 50%;
	cursor: pointer;

}
.hm-bnr-scroll-icon{
	display: inline-block;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.scroll-icon-Animate{
    animation: downAnimate 2s linear infinite;
}
@keyframes downAnimate{
	0%{
		margin-bottom: 0;
	}
	100%{
		margin-bottom: -8px;
	}
}
.hm-bnr-scroll-title{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 13px;
	line-height: 1;
	text-transform: uppercase;
	color: #fff;
	display: inline-block;
}

.link {
    display: inline-flex;
    align-items: center;
    padding: 5px;
    text-decoration: none;
    transform:  translateX(-50%) rotate(-90deg);
    -ms-transform: translateX(-50%) rotate(-90deg);
    -webkit-transform: translateX(-50%) rotate(-90deg);
}

.link__arrow {
    display: inline-flex;
}

.link__arrow span {
    position: relative;
    width: 10px;
    height: 2px;
    border-radius: 2px;
    overflow: hidden;
    background: #fff;
    z-index: 2;
}
.link__arrow span:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    background: #5d9d32;
    animation: animation-arrow 1.5s forwards;
    animation-delay: 1s;
	animation-iteration-count:infinite;
}

.link__arrow span:nth-child(1) {
    transform-origin: left bottom;
    transform: rotate( 45deg) translate3d(2px, -3px, 0);
}

.link__arrow span:nth-child(2) {
    transform-origin: left bottom;
    transform: rotate(-45deg);
    top: 0px;
    left: -5px;
}

.link__line {
    position: relative;
    margin-left: -14px;
    margin-right: 20px;
    width: 85px;
    height: 2px;
    background: #FFFFFF;
    overflow: hidden;
    z-index: 1;
}
.link__line:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 35px;
    height: 3px;
    background: #5d9d32;
    animation: up-down-animation 2.5s infinite ease-in-out;
    //animation: animation-arrow 2.5s infinite ease-in-out;
	animation-iteration-count:infinite;
}

.link:hover .link__arrow span:after {
    animation: animation-arrow 1.5s forwards;
    animation-delay: 1s;
}

.link:hover .link__line:after {
    animation: animation-line 1.5s forwards;
}

@keyframes up-down-animation{
    0%,100%{width:0}50%{width:100%}
}
@-webkit-keyframes up-down-animation{
    0%,100%{width:0}50%{width:100%}
}

@keyframes animation-line {
  0% {
    left: 80px;
  }

  100% {
    left: 0;
  }
}

@keyframes animation-arrow {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}
/*.link {
    display: inline-flex;
    align-items: center;
    padding: 5px;
    text-decoration: none;
    transform:  translateX(-50%) rotate(-90deg);
    -ms-transform: translateX(-50%) rotate(-90deg);
    -webkit-transform: translateX(-50%) rotate(-90deg);
}

.link__arrow {
    display: inline-flex;
}

.link__arrow span {
    position: relative;
    width: 10px;
    height: 2px;
    border-radius: 2px;
    overflow: hidden;
    background: #ff9140;
    z-index: 2;
}
.link__arrow span:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    background: #2DAB52;
    animation: animation-arrow 1.5s forwards;
    animation-delay: 1s;
	animation-iteration-count:infinite;
}

.link__arrow span:nth-child(1) {
    transform-origin: left bottom;
    transform: rotate( 45deg) translate3d(2px, -3px, 0);
}

.link__arrow span:nth-child(2) {
    transform-origin: left bottom;
    transform: rotate(-45deg);
    top: 0px;
    left: -5px;
}

.link__line {
    position: relative;
    margin-left: -14px;
    margin-right: 20px;
    width: 100px;
    height: 2px;
    overflow: hidden;
    z-index: 1;
}
.link__line:after {
    content: "";
    display: block;
    position: absolute;

    background: #2DAB52;

    left: 0;
    width: 60px;
    height: 2px;
    animation: up-down-animation 2.5s infinite ease-in-out;
    //animation: animation-arrow 2.5s infinite ease-in-out;
	animation-iteration-count:infinite;
}

.link:hover .link__arrow span:after {
    animation: animation-arrow 1.5s forwards;
    animation-delay: 1s;
}

.link:hover .link__line:after {
    animation: animation-line 1.5s forwards;
}*/


/*@keyframes animation-line {
  0% {
    left: 80px;
  }

  100% {
    left: 0;
  }
}

@keyframes animation-arrow {
  0% {
    width: 50%;
  }

  100% {
    width: 100%;
  }
}*/

/*@keyframes up-down-animation{
    0%,100%{width:0}50%{width:100%}
}
@-webkit-keyframes up-down-animation{
    0%,100%{width:0}50%{width:100%}
}

@keyframes animation-line {
  0% {
    left: 80px;
  }

  100% {
    left: 0;
  }
}

@keyframes animation-arrow {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}*/

.hm-banner-cntlr{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 660px;
	position: relative;
	z-index: 8;
}
.hm-bnr-desc{
	max-width: 872px;
	width: 100%;
	margin: 0 auto;

}
.hm-bnr-title.fl-h1{
	margin-bottom: 20px;
	color: #fff;
	text-align: center;

}
.hm-bnr-title-2 {
    margin-bottom: 15px;
}
.hm-bnr-desc p{
	font-size: 24px;
	text-align: center;
	color: #ACAFB0;
}

.hm-banner-btn{
	margin-bottom: 15px;
	padding-top: 5px;
}
.hm-bnr-desc{
	color: #fff;
	text-align: center;
	margin-top:-90px;
}

.hdr-btn{
	padding:10px 0 25px 0;
	justify-content: center;
}

.hm-bnr-2{
	padding-top: 25px;
	padding-bottom: 25px;
	background-color: rgb(126 171 255);
	position: relative;
	overflow: hidden;
}
.hm-bnr2-inr{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-left: -12px;
	margin-right: -12px;
	position: relative;
	z-index: 9;
}
.hm-bnr2-col-01{
	width: 50%;
	padding-left: 12px;
	padding-right: 12px;
}
.hm-bnr2-col-02{
	width: 50%;
	padding-left: 12px;
	padding-right: 12px;
}
.hm-bnr2-img{
	margin-left: -50px;
}
.hm-bnr2-img img{
	width: 100%;
}
.hm-bnr2-des{
	text-align: center;
	padding: 170px 50px;
	background-image: url('../images/hm-bnr2-des-bg.svg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	color: #fff;
}

.hm-bnr2-btn{
	padding-bottom: 20px;
}

.hm-bnr2-title{
	font-size: 40px!important;
	color: #fff;
	line-height: 1;
}
.hm-bnr2-sub-title{
	font-size: 26px!important;
	color: #fff;
	font-weight: 400;
}
.hm-bnr2-btm-title{
	color: #fff;
	margin-bottom: 0;
	font-weight: 400;
}

/**
---------------------
Our clints section
---------------------
*/
.our-clints-sec{

}
.our-clints-sec-hdr{
	text-align: center;
	margin-bottom: 20px;
}
.our-clints-grid{
	margin: 0 -20px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.our-clints-grid-item{
	padding: 0 20px;
	margin-bottom: 40px;
	width: 20%;
}
.ourClintsSlider .our-clints-grid-item{
	display: none;
}

.ourClintsSlider .our-clints-grid-item:first-of-type{
	display: block;
}

.ourClintsSlider.slick-initialized .our-clints-grid-item{
	display: block;
}
.our-clints-item{
	height: 75px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.our-clints-item img{
	max-height: 75px;
	width: auto;
}
.our-clints-item a{
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	
}

.our-clints-item-cntlr:hover .our-clints-item a img{
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}

/**
---------------------
Our services section
---------------------
*/
.services-sec{

}
.services-grid-cntlr{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 -20px;
}
.services-grid-item{
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 45px;
	width: 25%;
}
.services-item{
	padding: 20px 10px;
	text-align: center;
	position: relative;
	overflow: hidden;
	background: linear-gradient(
		236.41deg, #FFFFFF 3.15%, rgba(255, 255, 255, 0) 67.79%), #F4F4F4;
}
.servicesSlider .services-grid-item{
	display: none;
}

.servicesSlider .services-grid-item:first-of-type{
	display: block;
}

.servicesSlider.slick-initialized .services-grid-item{
	display: block;
}
.services-icon{
	margin-bottom: 28px;
}
.services-icon img{
	min-height: 28px;
	width: auto;
}
.fl-h3.services-item-title{
	margin-bottom: 28px;
}
.fl-h3.services-item-title a{
	display: inline-block;
	color: inherit;
}
.fl-h3.services-item-title a:hover{
	color: #F7961E;
}
.services-item-desc p:last-of-type{
	margin-bottom: 0;
}



/*
--------------------------------
Start Our Process Section Area 
--------------------------------
*/
.our-process-list ul,
.include-list ul{
	margin: 0;
	padding: 0;
	list-style: none;
	padding-top: 25px;
}
.our-process-list ul li,
.include-list ul li{
	float: left;
	width: 20%;
	text-align: center;
	position: relative;
	padding: 0 0 0;
	font-size: 18px;
	text-transform: uppercase;
}
.our-process-list ul{
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding-top: 0;
}
.our-process-list ul li{
	border-left: 1px solid #ddd;
	padding: 20px;
}
.our-process-list ul li:last-child{
	border-right: 1px solid #ddd;
}
.include-list ul li{
	width: 25%;
}
.include-col-item .hexagon-bdr::before,
.include-col-item .hexagon-bdr::after,
.include-col-item .hexagon-bdr{
    transition:all 1s;
    -webkit-transition:all 1s;
    -moz-transition:all 1s;
}
.include-col-item:hover .hexagon-bdr::before,
.include-col-item:hover .hexagon-bdr::after,
.include-col-item:hover .hexagon-bdr{
	border-color: #2a6171;
    transition:all 1s;
    -webkit-transition:all 1s;
    -moz-transition:all 1s;
}

.include-col-item:hover .hexagon-bdr::before,
.include-col-item:hover .hexagon-bdr::after{
	box-shadow: 0 0 20px rgba(0,0,0,0.6);
	-ms-box-shadow: 0 0 20px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

.include-col-item:hover .hexagon-bdr{
	box-shadow: 0 0 20px rgba(0,0,0,0.6);
	-ms-box-shadow: 0 0 20px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.6);
}


.pp-process-polygon-bx {
	width: 100%;
	font-size: 30px;
	line-height: 104px;
	margin: 0 auto;
	color: #0000;
	position: relative;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-bottom: 30px;
}

.hexagon {
  position: relative;
  width: 100px; 
  height: 70px;
  background-color: #5d9d32;
  margin-left: auto;
  margin-right: auto;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 25px solid #5d9d32;
  left: 50%;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 25px solid #5d9d32;
  left: 50%;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}


/*--- hexagon border box---*/
.pp-polygon-bx{
	position: relative;
}
.hexagon-bdr {
  position: relative;
  width: 150px; 
  height: 100px;
  background-color: #ccc;
  margin: 86.60px auto;
  border-left: solid 3px #2a6171;
  border-right: solid 3px #2a6171;
}


.hexagon-bdr::before, 
.hexagon-bdr::after {
	content: "";
	position: absolute;
	z-index: 1;
	width: 108px;
	height: 104.13px;
	-webkit-transform: scaleY(0.5774) rotate(-45deg);
	-ms-transform: scaleY(0.5774) rotate(-45deg);
	transform: scaleY(0.5774) rotate(-45deg);
	background-color: inherit;
	left: 18px;
	z-index: 1;
}

.hexagon-bdr::before {
	top: -52px;
	border-top: solid 5px #2a6171;
	border-right: solid 5px #2a6171;
}

.hexagon-bdr:after {
  bottom: -52px;
  border-bottom: solid 5px #2a6171;
  border-left: solid 5px #2a6171;
}
.hexagon-bdr-bx-des{
	position: relative;
	top: -15px;
}
.hexagon-bdr-bx-des strong{
	font-weight: normal;
	text-transform: uppercase;
	display: block;
}
.hexagon-bdr-bx-des p{
	text-transform: initial;
	font-size: 14px;
}




.pp-process-polygon-bx i,
.pp-polygon-bx i{
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	text-align: center;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	color: #fff;
	font-size: 40px;
	z-index: 2;
}
.pp-polygon-bx i{
	color: #2a6171;
}
.polygon-bx-title{
	color: #0c224b;
	font-size: 22px;
	vertical-align: middle;
	height: 70px;
	position: relative;
}
.polygon-bx-title *{
	display: block;
}
.polygon-bx-title big {
	color: #ccc;
	font-size: 80px;
	line-height: 72%;
}
.polygon-bx-title span{
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	text-align: center;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

.our-process-list ul li{
	min-height: 250px;
}

.pp-card {
	position: absolute;
	top: 20px;
	left: 0;
	width: 94%;
	height: 215px;
	perspective: 500px;
	margin-right: 3%;
	margin-left: 3%;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.pp-card:hover .content {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}
.pp-card:hover{
	top: 0;
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	height: 248px;
}
/*.pp-card:hover .back{
	background: rgba(94, 173, 70, 0.1);
}*/

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
}

.back {
  color: white;
  transform: rotateY( 180deg );
  -ms-transform: rotateY( 180deg );
  -webkit-transform: rotateY( 180deg );
  font-size: 18px;
  color: #000;
  background: white;
  text-align: center;
  font-size: 15px;
  border-radius: 5px;
  backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  background: #fff; 
  text-transform: initial;
  padding: 30px 15px;
  z-index: 5;
}
.back strong{
	font-weight: normal;
	color: #0c224b;
	text-transform: capitalize;
	font-size: 20px;
	display: block;
	padding-bottom: 15px;
}
.pp-card:hover .back{
	z-index: 5;
	/*background: rgba(94, 173, 70, 0.1)*/
}


/**
---------------------
Our Features section
---------------------
*/
.features-sec{

}
.features-sec-hdr{
	padding-bottom: 40px;
	text-align: center;
}
.features-grid{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
}
.features-grid-item{
	width: 25%;
	padding: 40px 20px 50px;
	background: linear-gradient( 
	236.41deg, #FFFFFF 3.15%, rgba(255, 255, 255, 0) 67.79%), #F4F4F4;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.featuresSlider .features-grid-item{
	display: none;
}

.featuresSlider .features-grid-item:first-of-type{
	display: block;
}

.featuresSlider.slick-initialized .features-grid-item{
	display: block;
}
.features-item{
	text-align: center;
	position: relative;
	overflow: hidden;
}
.features-item-icon{
	margin-bottom: 30px;
	height: 80px!important;
	width: 80px!important;
}
.features-item-icon i{
	font-size: 32px!important;
}
.features-item-title{
	margin-bottom: 30px;
}
.features-item-title a{
	display: inline-block;
	color: inherit;
	color: #000;
}
.features-item-title a:hover{
	color: #F7961E;
}
.features-item-desc > p:last-of-type{
	margin-bottom: 0;
}



/**
---------------------
Experiences section
---------------------
*/
.featured-design-sec{
	position: relative;
}
.featured-design-cntlr{
	position: relative;
	z-index: 2;
}
.fea-design-grid-item{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 -15px;
}
.fea-design-item-cntlr{
	padding: 0 15px;
	width: 33.33%;
	margin-bottom: 40px;
}
.feaDesignSlider .fea-design-item-cntlr{
	display: none;
}

.feaDesignSlider .fea-design-item-cntlr:first-child{
	display: none;
}

.feaDesignSlider.slick-initialized .fea-design-item-cntlr{
	display: block;
}
.fea-design-item{
	overflow: hidden;
	position: relative;
}
.fea-design-item-img-cntlr{
	height: 310px;
	overflow: hidden;
	position: relative;
}
.fea-design-item-img{
	height: 100%;
	width: 100%;
	transform: scale(1.1);
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}
.fea-design-item:hover .fea-design-item-img{
	transform: scale(1.0);
	-ms-transform: scale(1.0);
	-webkit-transform: scale(1.0);
	-o-transform: scale(1.0);
}
.fl-h4.fea-design-item-title{
	
	margin: 0;
	color: #fff;
	background: #5EAD46;
	text-align: center;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	position: relative;
	overflow: hidden;
}
.fl-h4.fea-design-item-title a{
	display: inline-block;
	color: #fff;
	text-align: center;
	padding: 20px 10px;
	width: 100%;
}
.fl-h4.fea-design-item-title:hover{
	background: #F7961E;
}



/**
---------------------
Let's Chat section
---------------------
*/
.lets-chat-sec{
	background-attachment: fixed!important;
	background-repeat: no-repeat!important;
	background-position: center center!important;
	background-size: cover!important;
	padding: 90px 0 85px;
	color: #fff;
	position: relative;
}
.lets-chat-sec-bg{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgb(0,0,0);
	background: linear-gradient(90deg, rgba(0,0,0,0.7203256302521008) 0%, rgba(255,145,64,0) 100%, rgba(0,212,255,1) 100%);
	z-index: 1;
}
.lets-chat-cntrl{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	position: relative;
	z-index: 2;
}
.lets-chat-des{
	width: 50%;
	padding-right: 20px;
}
.fl-h2.lets-chat-des-title{
	text-transform: uppercase;
	color: #fff;
}
.get-in-touch-btn-wrp{
	width: 50%;
	margin-left: auto;
	display: flex;
    justify-content: flex-end;
}




/**
-------------------
Services page
--------------------
*/
.main-content{
	padding: 50px 0 70px;
}
.isotope-wrp{
	padding-top: 20px;
}
.filter-menu{
	border-top: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
	list-style: none;
	margin: 0;
	padding: 5px 0 0;
	text-align: left;
	overflow: hidden;
}
.filter-menu li{
	display: inline-block;
	vertical-align: baseline;
	padding: 0 20px 5px 0;
}
.filter-menu li:first-child{
	padding-left: 0;
}
.filter-menu li a{
	padding: 3px 20px;
	background: #d9d9d9;
	border-radius: 5px;
	font-size: 15px;
	color: inherit;
	display: inline-block;
	vertical-align: baseline;
	text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
}

.filter-menu li a.is-checked{
	background: #ff9140;
}
.isotope{
	margin: 0;
	padding: 50px 0 0;
	list-style: none;
	overflow: hidden;
}
.isotope li{
	display: inline-block;
	width: 25%;
	float: left;
	padding: 0 70px;
	margin-bottom: 50px;
}
.isotope li a{
	display: inline-block;
	vertical-align: baseline;
}
.isotope li h6{
	margin-top: 15px;
	font-family: Arial, Helvetica, sans-serif;
}


/*
*/

.fl-hide{
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	margin-left: 25px;
	margin-right: 25px;
}
.pop-up-title{
	font-size: 22px;
	margin-bottom: 15px;	
}
.fancy-pop-up img{
	float: left;
	padding: 0 25px 25px 0;
}
.fancybox-close-small{
	outline: none;
	text-decoration: none;
}

.fancybox-close-small:hover::after{
	background: #ea722c;
	color: #fff;
}
/**
--------------------------------
Contact page
-------------------------------
*/
.contact-main{
	padding:100px 0 120px;
}
.contact-info-wrp{
	text-align: left;
}

.contact-info a{
	display: inline-block;
	vertical-align: baseline;
	position: relative;
	padding-left: 25px;
	margin-bottom: 10px;
	font-size: 15px;
	color: inherit;
}

.contact-info a:before{
	content: "";
	position: absolute;
	left: 0;
	top: 5px;
}

.contact-info a.address:before{
	background: url(../images/map-icon.png);
	background-repeat: no-repeat;
	background-position: left top;
	width: 14px;
	height: 19px;
}
.contact-info a.tel:before{
	background: url(../images/tel-icon.png);
	background-repeat: no-repeat;
	width: 15px;
	height: 20px;
	top: 4px;
}
.contact-info a.email:before{
	background: url(../images/email-icon.png);
	background-repeat: no-repeat;
	width: 18px;
	height: 12px;
	top: 6px;
}

.contact-info a:hover:before{
	background-position: left bottom;
}




.contact-form{
	padding-top: 48px;
}
.d2{
	width: 49%;
	float: left;
	margin-right: 2%;
}
.d2:last-child{
	margin-right: 0;
}
.field-wrp{
	padding-top: 20px;
}
.field-wrp label{
    color: #4e5c64;
    display: block;
    text-align: left;
}
input[type="text"],
input[type="email"],
textarea{
	width: 100%;
	border: 1px solid #d9d9d9;
	padding: 5px 10px;
}
.contact-form textarea{
	height: 122px;
}
.submit-wrp{
	padding-top: 42px;
}
.contact-form input[type="submit"],.submit{
	position: relative;
	overflow: hidden;
	color: #fff;
	background:#ff9140;
	width: 150px;
	height: 40px;
	border: 0;
	text-align: center;
	font-size: 20px;
	line-height: 100%;
	text-transform: uppercase;
	border-radius: 3px;
  padding-top: 0;
}
#comments .submit {
	width: 164px;
	font-size: 16px;
	height: 38px;
}
.map-wrp{
	border-top: 6px solid #d9d9d9;
}


/**
-------------------
Blog page
-------------------
*/
.blog-main-content{
	padding: 100px 0 80px;
	text-align: left;
}
.post-item{
	position: relative;
	padding: 0 5px 30px 115px;
	margin-bottom: 50px;
	border-bottom: 1px solid #E6E6E6;
}
.post-item:last-child{
	border-bottom: none;
}
.title-date{
	position: absolute;
	top: 0;
	left: 0;
	background: #EAEAEA;
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
	height: 75px;
	width: 75px;
	padding: 24px 5px;
	text-align: center;
	text-transform: uppercase;
	color: #646464;
	border-radius: 100% 100%;
	font-weight: 300;
}
.post-item img{
	width: 100%;
}
.post-detail{
   font-weight: 300;
    font-size: 12px;
    line-height: 14px;	
}
.post-title{
	margin: 0;
	padding: 10px 0 15px;
}
.post-title a{
	color: #646464;
	display: inline-block;
	vertical-align: baseline;
}
.excerpt{;
    font-size: 15px;
    line-height: 20px;
    color: #555353;
    padding-top: 10px;
}
.read-more{
	text-align: right;
}
.read-more a{
	width: 130px;
	font-size: 13px;
	line-height: 14px;
	padding-top: 11px;
	text-transform: capitalize;
	height: 38px;
}


/**
---------------------
Sidebar
----------------------
*/
.right-sidebar{
	padding-left: 40px;
}
.widget{
	border-bottom: 1px solid #E6E6E6;
	padding-bottom: 25px;
	font-size: 13px;
	line-height: 14px;
	margin-bottom: 25px;
}
.widget:last-child,
.widget:first-child{
	border-bottom: none;
}
.widget:first-child{
	margin-bottom: 0;
}
.search{
	position: relative;
}
.search-wrp input[type="text"]{
	border: 1px solid #E6E6E6;
	padding: 8px 10px 8px 40px;
	width: 100%;
	font-family: Arial,Helvetica,sans-serif;
}
.search-wrp input[type="submit"]{
	position: absolute;
	background: url(../images/search-icon.png);
	background-repeat: no-repeat;
	width: 16px;
	height: 15px;
	border: 0;
	left: 8px;
	top: 8px;
}

.widget ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.widget ul li{
	padding-bottom: 10px;
}
.widget ul li:last-child{
	padding-bottom: 0;
}
.widget ul li a{
	color: inherit;
	line-height: 20px;
}
.widget h3{
	font-size: 20px;
	line-height: 26px;
	margin:0  0 15px 0;
	padding-bottom: 10px;
}



/**
------------------
404 page 
------------------
*/
.main-content-404{
	padding: 100px 0 80px;
}
.lft-col-404{
	text-align: left;
	font-size: 14px;
	line-height: 17px;
}
.lft-col-404 h3{
	padding-bottom: 25px;
	margin: 0;
}
.rgt-col-404 h1{
	font-size: 250px;
	color: #ff9140;
	margin: 0;
	line-height: 250px;
}
.again-serch-form{
	position: relative;
	border: 1px solid #d9d9d9;
	width: 80%;
	margin-top: 50px;
}
.again-serch-form:before{
	content: "";
	background: url(../images/sorry-icon-2.png);
	background-repeat: no-repeat;
	width: 22px;
	height: 15px;
	position: absolute;
	top: 13px;
	left: 13px;

}
.again-serch-form:after{
	position: absolute;
	content: "";
	left: 1px;
	right: 1px;
	height: 1px;
	bottom: 1px;
	background: #ff9140;
}
.again-serch-form input[type="text"]{
	padding: 4px 10px 5px 50px;
	height: 38px;
}
.again-serch-form .search-btn{
	position: absolute;
	right: -43px;
	top: 3px;
	background: url(../images/go-icon.png);
	background-repeat: no-repeat;
	width: 32px;
	height: 33px;
	border: 0;
}
.again-serch-form input[type="text"]:focus{
	border-color: inherit;
}

/**
----------------------------------------
Single page
----------------------------------------
*/
/*skew-btm*/

.skew-btm{
	border-bottom: 285px solid #fbfbfb;
	border-left: 1920px solid transparent;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

/**
---------------------
home about us sec
---------------------
*/

.home .hm-about-us-sec{
	padding-bottom: 140px;
}


.hm-about-us-cntlr{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
	align-items: center;
}
.hm-about-us-lft{
	width: 34%;
	padding: 0 15px;
}
.hm-about-us-rgt{
	width: 66%;
	padding: 0 15px;
	position: relative;
}
/*.hm-abt-us-sub-heading{
	font-weight: 500;
}*/
.hm-about-us-lft-con p{
	font-size: 16px;
}
.hm-about-us-lft-con ul li {
    font-weight: 500;
    font-size: 16px;
    position: relative;
    padding: 4px 0 6px 25px;
    text-align: left;
}
.hm-about-us-lft-con ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.hm-about-us-lft-con ul li:after {
    border: 2px solid #f7f9f8;
    border-radius: 100%;
    content: "";
    height: 11px;
    left: 2px;
    position: absolute;
    top: 9px;
    width: 11px;
}
.hm-about-us-lft-con ul li:before {
    position: absolute;
    content: '';
    width: 13px;
    height: 13px;
    left: 1px;
    border-radius: 100%;
    background-color: #000;
    top: 2px;
}
.hm-about-us-lft-con .view-more-btn{
	text-align: left;
}
.hm-about-us-rgt-cntlr{
	position: relative;
	height: 100%;
	width: 100%;
	display: block;
}
.hm-about-us-img-one img,
.hm-about-us-img-two img{
	width: 100%;
	height: auto;
}
/*.hm-about-us-img-one {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}*/
.hm-about-us-img-one img{
	border-radius: 37% 63% 70% 30%/45% 50% 55% 50%;
	border-radius: 37% 63% 63% 37%/55% 50% 50% 45%;
}
.hm-about-us-img-two {
    /*position: absolute;*/
    top: 0;
    right: 0;
}


/*responsive*/
@media(max-width: 1699px){
	/*hm banner*/

	.features-grid-item{
		padding: 40px 15px 40px;
	}


}
@media(max-width: 1399px){
	/*hm banner*/




}
@media(max-width: 1199px){
	/*hm banner*/


	.hm-about-us-lft{
		width: 40%;
	}
	.hm-about-us-rgt{
		width: 60%;
	}

	.our-process-list ul{
		border-bottom: none;
	}
	.our-process-list ul li{
		width: 33.33%;
		border-bottom: 1px solid #ddd;
	}
	.our-process-list ul li:nth-child(3n+3){
		border-right: 1px solid #ddd;
	}
	.features-grid-cntlr{
		max-width: 800px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.features-grid-item{
		width: 50%;
		/*margin-bottom: 30px;*/
	}

	.our-clints-grid{
		margin: 0 -15px;
	}
	.our-clints-grid-item{
		padding: 0 15px;
	}
	.home .hm-about-us-sec {
	    padding-bottom: 115px;
	}

}
@media(max-width: 991px){
	/*hm banner*/


	.hm-about-us-lft{
		width: 45%;
	}
	.hm-about-us-rgt{
		width: 55%;
	}
	.features-grid{
		padding: 0;
	}
	.our-clints-grid-item{
		width: 25%;
	}
	.lets-chat-des{
		width: 60%;
	}
	.get-in-touch-btn-wrp{
		width: 40%;
	}
	.home .hm-about-us-sec {
	    padding-bottom: 90px;
	}
}
@media(max-width: 767px){
	/*hm banner*/
	.hm-banner-cntlr{
		height: 550px;
	}

	.hm-about-us-cntlr{
		margin: 0;
	}
	.hm-about-us-rgt{
		padding: 0;
		order: 1;
		margin-bottom: 30px;
		width: 100%;
	}
	.hm-about-us-lft{
		padding: 0;
		order: 2;
		width: 100%;
		text-align: center;
	}
	.hm-about-us-lft-con .view-more-btn{
		text-align: center;
	}
	.our-process-list ul li{
		width: 33.33%;
	}
	.features-grid{
		
	}
	.features-grid-item{
		width: 50%;
	}

	.our-clints-grid-item{
		width: 33.33%;
	}
	.lets-chat-des{
		width: 100%;
		margin-bottom: 30px;
		text-align: center;
		padding-right: 0;
		max-width: 440px;
		margin-left: auto;
		margin-right: auto;
	}
	.get-in-touch-btn-wrp{
		margin-right: auto;
		width: 100%;
		justify-content: center;
	}
	.hm-about-us-rgt-cntlr{
		max-width: 500px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.pp-process-polygon-bx i, 
	.pp-polygon-bx i{
		font-size: 35px;
	}
	.pp-process-polygon-bx i{
		font-size: 25px;
	}
	.pp-process-polygon-bx{
		margin-bottom: 25px;
	}
	.hexagon{
		width: 80px;
		height: 50px;
	}
	.hexagon:after,
	.hexagon:before{
		border-left: 40.5px solid transparent;
		border-right: 40.5px solid transparent;
	}
	.hexagon:before{
		margin-bottom: -1px;
	}
	.hexagon:after{
		margin-top: -1px;
	}
	.polygon-bx-title big{
		font-size: 70px;
	}
	.polygon-bx-title span{
		font-size: 20px;
	}
	.polygon-bx-title{
		height: 50px;
		margin-bottom: 25px;
	}
	.polygon-box-desc p{
		font-size: 14px;
	}
	.polygon-box-desc p:last-of-type{
		margin-bottom: 0;
	}
	.our-process-list ul li{
		height: 280px;
	}
	.pp-card{
		position: static;
		top: 0;
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		height: initial;
	}
	.content,
	.front{
		position: static;
	}
	.our-process-list ul li{
		height: initial!important;
	}
}
@media(max-width: 639px){
	/*hm banner*/


	.our-process-list ul li{
		width: 50%;
	}
	.features-grid{
		padding: 0;
	}

	.our-clints-grid-item{
		width: 50%;
	}
	.our-process-list ul li:nth-child(3n+3) {
	    border-right: none;
	}
	.our-process-list ul li:nth-child(2n+2) {
	    border-right: 1px solid #ddd;
	}
}
@media(max-width: 575px){
	/*hm banner*/
	.fl-h1.hm-bnr-title-2,
	.hm-bnr-title.fl-h1{
		font-size: 30px;
		margin-bottom: 20px;
	}
	.our-clints-grid,
	.features-grid,
	.our-process-list{
		max-width: 300px;
		width: 100%;
		margin: 0 auto;
	}
	.features-grid-item,
	.our-process-list ul li{
		width: 100%;
	}
	.our-process-list ul li{
		border: 1px solid #ddd;
		padding: 20px;
		height: initial;
	}
	.pp-card{
		height: initial;
		margin-right: 0;
    	margin-left: 0;
    	width: 100%;
	}
	.content,
	.front{
		position: static;
	}
	.features-grid-item{
		margin-bottom: 20px;
	}
	.our-clints-grid-item{
		width: 100%;
	}
	.get-in-touch-btn-wrp .fl-button{

	}
	.link__line{
		width:70px;
	}
	.features-grid{
		border: none;
	}
	.features-grid-item{
		border: 1px solid #ddd;
	}
	.our-process-list ul li:nth-child(2n+2) {
	    border-right: none;
	}
	.our-process-list ul li:nth-child(1n+1) {
	    border-right: 1px solid #ddd;
	}
	/*.our-process-list ul{
		border-top: none;
		border-bottom: none;
	}*/
	.our-process-list ul li{
		border: 1px solid #ddd;
		margin-bottom: 20px;
	}
}

@media(max-width: 359px){
	.hm-abt-us-sub-heading{
		font-size: 22px!important;
	}
}
