.slick-slider ul.slick-dots{
	position: static;
	line-height: 0;
	padding: 0 20px!important;
}
.slick-slider .slick-dots li{
	width: 6px!important;
	height: 6px!important;
	position: static;
	background: #ff9140!important;
	border-radius: 6px!important;
	margin: 0 6px;
	padding: 0!important;
	opacity: 0.5;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
}
.slick-slider .slick-dots li.slick-active{
	background: #ff9140!important;
	opacity: 1;
	width: 15px!important;
}
.slick-slider .slick-dots li:before,
.slick-slider .slick-dots li button:before{
	content: none!important;
}
/*.slick-slider .slick-dots li button{
	padding: 0;
	width: 16px;
	height: 16px;
}*/

.slick-dots li:only-child{ display: none; }


.sitemap{
	padding: 50px 0 70px;
}

.sitemap ol li a{
	color: #FF674D;
}
.sitemap ol li{
	padding-left: 25px;
}

.sitemap ol li a:focus{
	text-decoration: underline;
}



/*breadcrumb*/


.breadcrumb-cntlr ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 -15px;
}
.breadcrumb-cntlr ul li {
    padding: 0 15px;
    position: relative;
}
.breadcrumb-cntlr ul li:after {
    border: 2px solid #fff;
    content: "";
    height: 10px;
    left: -7px;
    margin-top: -3px;
    position: absolute;
    top: 50%;
    width: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.breadcrumb-cntlr ul li:first-child:after{
	display: none;
}


/*.breadcrumb-cntlr ul li.home a:after,
.breadcrumb-cntlr ul li:first-child a:after{
	position: absolute;
    content: "";
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    height: 18px;
    width: 17px;
    margin-top: -1px;
    background-size: contain;
    background-image: url(../images/home-icon.svg);
}*/
.breadcrumb-cntlr ul li a, 
.breadcrumb-cntlr ul li span, 
.breadcrumb-cntlr ul li a span {
	display: inline-block;
	font-weight: 700;
	font-size: 12px;
	text-transform: capitalize;
	line-height: 1;
	letter-spacing: 0.02em;
	color: #fff;
	opacity: 1;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
}
.breadcrumb-cntlr ul li.home a{
	position: relative;
	padding-left: 24px;
}
.breadcrumb-cntlr ul li.home a i{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 0;
	margin-top: -2px;
}
.breadcrumb-cntlr ul li.home a i svg{
	width: 13px;
	height: 14px;
}
.breadcrumb-cntlr ul li.active span{
	text-decoration: underline;
}

.breadcrumb-cntlr ul li a:hover, 
.breadcrumb-cntlr ul li span:hover, 
.breadcrumb-cntlr ul li a span:hover {
    color: #ff9140;
}



/*page banner*/

.page-banner-cntlr{
	overflow: hidden;
	position: relative;
}
.page-banner{
	height: 300px;
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
}
.page-banner-bg{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
}
.page-bnr-des{
	position: relative;
	text-align: center;
	width: 100%;
	z-index: 4;
}

#particles-js{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99;
	z-index: 2;
}

.page-bnr-overlay{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.7);
	z-index: 3;
}

.page-bnr-des-inr{
	display: flex;
	align-items: center;
}
.breadcrumb-cntlr{
	margin-left: auto;
	margin-right: auto;
	padding: 10px 15px;
	background: rgba(0,0,0,.8);
}
.page-bnr-title-ctlr{
	display: none;
}
.page-bnr-title{
	margin-bottom: 0;
	color: #fff;
}


/*sec entry header*/

.sec-entry-hdr{
	padding-bottom: 30px;
}

.sec-entry-hdr.seht-center{
	max-width: 700px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.sec-entry-heading-title{
	padding-top: 30px;
	position: relative;
}

.sec-entry-hdr-title{
	text-transform: capitalize;
}

.sec-entry-hdr-des p{
	font-weight: 400;
}

.heading-divider{
	position: absolute;
	top: 0;
	left: 20px;
	width: 40px;
	height: 3px;
	background: #ff9140;
	border-radius: 3px;
}
.heading-divider:after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 3px;
	width: 10px;
	background: #ff9140;
	border-radius: 3px;
	margin-left: -20px;
}
.heading-divider:before{
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	height: 3px;
	width: 10px;
	background: #ff9140;
	border-radius: 3px;
	margin-right: -20px;
}

.sec-entry-hdr.seht-center{
	text-align: center;
}
.seht-center .heading-divider{
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
}
.seht-only-two .heading-divider{
	left: 0;
}
.seht-only-two .heading-divider:after{
	content: none;
}

.line-bg-black .heading-divider,
.line-bg-black .heading-divider:after,
.line-bg-black .heading-divider:before{
	background: #000;
}

.line-bg-white .heading-divider,
.line-bg-white .heading-divider:after,
.line-bg-white .heading-divider:before{
	background: #fff;
}


.btm-line .sec-entry-heading-title{
	padding-top: 0;
	padding-bottom: 20px;
	margin-bottom: 30px;
}
.btm-line .sec-entry-heading-title h2{
	margin-bottom: 0;
}

.btm-line .heading-divider{
	top: initial;
	bottom: 0;
}




@media(max-width: 1199px){
	.page-banner{
		height: 250px;
	}
}

@media(max-width: 991px){
	.page-banner {
	    height: 220px;
	}
}
@media(max-width: 767px){
	.page-banner {
	    height: 200px;
	    display: block;
	}
	.page-bnr-des-inr{
		display: block;
		padding-top: 47px;
	}
	.breadcrumb-cntlr{
		margin-left: initial;
		max-width: 165px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.breadcrumb-cntlr ul{
		display: block;
	}
	.breadcrumb-cntlr ul li{
		display: inline-block;
		vertical-align: baseline;
	}
	.page-bnr-title{
		margin-bottom: 20px;
	}
}