.iit-service-sec{

}



.iit-service-grds > ul{
	margin-left: -15px;
	margin-right: -15px;
}
.iit-service-grds > ul > li{
	float: left;
	width: 33.3333%;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 30px;
	padding-top: 20px;
	background: linear-gradient( 
236.41deg, #FFFFFF 3.15%, rgba(255, 255, 255, 0) 67.79%), #F4F4F4;
}


.iit-service-grd-item{
	padding-left: 60px;
	padding-bottom: 30px;
	position: relative;
}

.iit-service-grd-item-img{
	position: absolute;
	left: 0;
	top: 0;
}
.iit-service-grd-item-img img{
	max-width: 45px;
}

.iit-service-grd-item-title{
	margin: 0 0 25px;
	padding-top: 15px;
	text-transform: capitalize;
}


.iit-service-grd-item-des > a{
	display: inline-block;
	vertical-align: baseline;
	color: #000;
	padding-left: 28px;
	position: relative;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
}
.iit-service-grd-item-des > a:after{
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	width: 15px;
	height: 1px;
	background: #000;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	margin-top: -1px;
}



.iit-service-grd-item-des h5 a{
	padding-left: 0;
	color: #000;
}
.iit-service-grd-item-des h5 a:after{
	content: none;
}


.iit-service-row-item{
	display: flex;
	align-items: center;
}

.iit-service-col-lft{
	width: 50%;
}
.iit-service-col-rgt{
	width: 50%;
	padding-left: 40px;
}
.iit-service-col-img img{
	width: 100%;
}

.iit-service-row-lftdes-rgtimg .iit-service-col-lft{
	order: 2;
}
.iit-service-row-lftdes-rgtimg .iit-service-col-rgt{
	order: 1;
	padding-left: 0;
	padding-right: 40px;
}
.iit-service-col-des i{
	display: inline-block;
	vertical-align: baseline;
	padding-bottom: 20px;
}

.iit-service-col-des-title{
	text-transform: uppercase;
}
.iit-service-col-des-title a{
	color: #000;
}

.iit-service-col-des-title a:hover{
	color: #ff9140;
}


@media(max-width: 1399px){

}

@media(max-width: 991px){

	.iit-service-grds > ul > li{
		width: 50%;
	}
}


@media(max-width: 767px){

	.iit-service-grds > ul{
		margin-left: 0;
		margin-right: 0;
	}
	.iit-service-grds > ul > li{
		width: 100%;
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 20px;
	}
	.iit-service-grd-item{
		max-width: 350px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 20px;
	}
	.iit-service-grd-item-title {
	    margin: 0 0 15px;
	    padding-top: 12px;
	}
}

@media(max-width: 575px){

}