.iit-service-single-bnr-con .page-banner{
	height: initial;
	position: initial;
}

.iit-service-single-bnr-con-inr{
	display: flex;
	align-items: center;
}
.iit-ssbc-form{
	width: 45%;
	order: 2;
	
}
.iit-ssbc-des{
	width: 55%;
	/*padding-left: 50px;*/
	padding-right: 50px;
	color: #fff;
	color: #000;
	text-align: left;
	order: 1;
}
.iit-ssbc-des p:last-of-type{
	margin-bottom: 30px;
}
.iit-ssbc-form-inr{
	padding: 25px 30px;
    background: #fff;
    position: relative;
    border-radius: 3px;
}
.iit-ssbc-des-title{
	color: #fff;
	color: #0c224b;
}

.iit-ssbc-form-title{
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 25px;
}

.input-field-row{
	padding-bottom: 30px;
	text-align: left;
}
.input-field-row input[type="text"],
.input-field-row input[type="email"],
.input-field-row textarea{
	width: 100%;
    border: 0;
    display: block;
    height: 46px;
    font-size: 14px;
    border: 1px solid #d7d4d4;
    color: #878787;
    background: transparent;
    -webkit-appearance: none;
    border-radius: 0;
    padding: 7px 15px;
}

.input-field-row textarea{
	height: 150px;
	resize: none;
}

.input-field-row input[type="text"]::-webkit-input-placeholder,
.input-field-row input[type="email"]::-webkit-input-placeholder
.input-field-row textarea::-webkit-input-placeholder { 
	opacity: 1;
}
.input-field-row input[type="text"]::-moz-placeholder,
.input-field-row input[type="email"]::-moz-placeholder
.input-field-row textarea::-moz-placeholder { 
	opacity: 1;
}
.input-field-row input[type="text"]:-ms-input-placeholder,
.input-field-row input[type="email"]:-ms-input-placeholder
.input-field-row textarea:-ms-input-placeholder { 
	opacity: 1;
}
.input-field-row input[type="text"]:-moz-placeholder,
.input-field-row input[type="email"]:-moz-placeholder
.input-field-row textarea:-moz-placeholder { 
	opacity: 1;
}

.input-field-row input[type="text"]:focus,
.input-field-row input[type="email"]:focus,
.input-field-row textarea:focus{
	border-color: #0c224b;
}

.filter-check-row{
	position: relative;
	padding: 0 15px 15px 20px;
}

.iit-ssbc-form .filter-check-row label{
	display: inline-block!important;
	vertical-align: middle!important;
	cursor: pointer!important;
	margin: 0!important;
	line-height: 1.3!important;
	padding-left: 32px!important;
	font-size: 14px!important;
}
.iit-ssbc-form .filter-check-row label a{
	color: #000;
	font-weight: 500;
}

.iit-ssbc-form-submit-btn{
	text-align: center;
}
.iit-ssbc-form-submit-btn button{
	display: inline-block;
    vertical-align: baseline;
    max-width: 210px;
    width: 100%;
    position: relative;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    line-height: 1;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    padding: 14px 20px 14px;
    overflow: hidden;
    padding-top: 16px;
    cursor: pointer;
    letter-spacing: 0.25px;
}
.iit-ssbc-form-submit-btn button:after{
	-webkit-transition: all 0.25s;
	-ms-transition: all 0.25s;
	transition: all 0.25s;
    content: "";
    display: inline-block;
    border-left: 0 solid #fff;
    margin-left: 0;
    opacity: 0;
    border-top: 4.8px solid transparent;
    border-bottom: 4.8px solid transparent;
}
.iit-ssbc-form-submit-btn button:hover:after{
	border-left: 10px solid #fff;
    margin-left: 5px;
    opacity: 1;
}
.iit-ssbc-form-submit-btn button:hover{
	color: #fff;
    background: #5EAD46;
    border-color: #5EAD46;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.iit-wyg-grds ul{
	display: flex;
	flex-wrap: wrap;
	margin-left: -12px;
	margin-right: -12px;
}
.iit-wyg-grds ul li{
	width: 33.3333%;
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 30px;
}
.iit-wyg-hdr-cntlr{
	display: flex;
	align-items: center;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #d1dbde;
}
.iit-wyg-hdr-title{
	padding-left: 15px;
}
.iit-wyg-hdr-img i{
	display: inline-block;
	vertical-align: baseline;
}
.iit-wyg-hdr-img i img{
	max-height: 60px;
	width: auto;
}
.iit-wyg-title{
	text-transform: uppercase;
    color: #000;
    letter-spacing: 1px;
    margin-bottom: 0;
}
.iit-faq-accordion-des-inr{
	display: flex;
}
.iit-testi-info{
	width: 30%;
	position: relative;
    padding-left: 50px;
    padding-right: 20px;
}
.iit-testi-blockquote{
	width: 70%;
    padding-left: 45px;
    padding-right: 70px;
    position: relative;
}
.iit-testi-info > i{
	position: absolute;
	top: 0;
	left: 0;
	color: #000;
    font-size: 42px;
}
.iit-testi-rating i{
	display: inline-block;
	vertical-align: baseline;
}
.iit-testi-blockquote:after{
	content: "\f10d";
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 600;
    text-decoration: inherit;
    color: #000;
    font-size: 25px;
    position: absolute;
    top: 0;
    left: 0;
}

.iit-blog-single-article-cntlr .article-controls{
	max-width: 705px;
	width: 100%;
	margin-left: auto;
	top: 0;
}

.iit-promo-sec{
	background: #222;
	padding: 20px 0;
}
.iit-promo-sec-inr{
	display: flex;
	align-items: center;
}
.iit-promo-btn{
	margin-left: auto;
}
.iit-promo-title{
	color: #fff;
	margin-bottom: 0;
}

.iit-testimonial-sec .iit-faq-accordion-des{
	padding-top: 30px;
}
.iit-wyg-grds {
    padding-top: 30px;
}
.iit-tstmnl-grid-col{
	padding: 0 12px;
	width: 33.33%;
}
.iit-tstmnl-grids{
	/*display: flex;
	flex-wrap: wrap;
	margin: 0 -12px;*/
	column-count: 3;
	column-gap: 24px;
}
.iit-tstmnl-item-cntlr{
	/*margin-bottom: 24px;*/
}
.iit-tstmnl-item-cntlr{
	/*width: 33.33%;
	padding: 0 12px;*/
	max-width: 100%;
	margin-bottom: 24px;
	-webkit-column-break-inside:  avoid;
	page-inside: avoid;
	break-inside: avoid;
}
.iit-tstmnl-item{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 20px;
	padding-bottom: 30px;
	background: #fff;
	border: 1px solid #f7f7f7;
	-webkit-box-shadow: 2px 2px 6px 2px #f7f7f7;
	-moz-box-shadow: 2px 2px 6px 2px #f7f7f7;
	box-shadow: 2px 2px 6px 2px #f7f7f7;
}
.iit-testimonial-sec{
	background: #fbfbfb;
	padding-top: 100px!important;
}
.iit-tstmnl-item-pro{
	margin-bottom: 25px;
	display: flex;
	align-items: center;
	
}
.iit-tstmnl-item-pro-img{
	padding-right: 20px;
}
.fl-h6.iit-tstmnl-item-sub-title{
	margin-bottom: 0;
	text-transform: capitalize;
	color: #F8800B;
}
.iit-tstmnl-item-pro-img img{
	max-width: 120px;
	max-height: 120px;
	border-radius: 50% 50%;
}
.iit-tstmnl-item-desc{
	color: #363535;
}
.dfp-blockqoute{
	position: relative;
	padding-left: 25px;
	margin-bottom: 30px;
}
.dfp-blockqoute blockquote i{
	position: absolute;
	top: 0;
	left: 0;
	font-size: 18px;
	color: #F8800B;
}
.iit-tstmnl-item-title{
	margin-bottom: 5px;
	line-height: 1;
	text-transform: capitalize;
}
.iit-tstmnl-item-title a{
	display: inline-block;
	text-decoration: none;
	color: initial;
}
.iit-tstmnl-item-title a:hover{
	color: #F8800B;
}
.iit-tstmnl-prmo-hddng{
	margin-bottom: 30px;
	padding-top: 50px;
}
.iit-tstmnl-prmo-title{
	position: relative;
	padding-left: 20px;
}
.iit-tstmnl-prmo-title i{
	position: absolute;
	left: -29px;
    top: -72px;
    font-size: 103px;
	color: #F8800B;
	color: #5EAD46;
	color: #b6dec8;
	z-index: 1;
}
.iit-tstmnl-prmo-title span{
	position: relative;
	z-index: 2;
}
.iit-tstmnl-grid-col-03{
	padding-top: 80px;
}
.iit-service-con-cntlr{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -12px;
}
.iit-service-intro-col{
	width: 50%;
	padding: 0 12px;
}
.iit-service-intro-title{
	font-size: 60px!important;
}
.iit-service-process-grd-cntlr{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -12px;
}
.iit-service-process-grd-col{
	width: 25%;
	padding: 0 12px;
	padding-bottom: 30px;
}
.iit-svic-process-grd-img-cntlr {
    /*text-align: center;*/    
    margin-bottom: 30px;
}
.iit-svic-process-icon i{
	font-size: 40px;
	color: #5d9d32;
}
.iit-service-process-grd-item {
    padding: 20px 20px;
    border: 1px solid #dfdfdf;
}
.iit-svic-process-grd-des {
    /*text-align: center;*/
}
.iit-svic-process-grd-des p:last-of-type{
	margin-bottom: 0;
}
@media(max-width: 1699px){
	.iit-testi-blockquote{
		padding-right: 50px;
	}
}
@media(max-width: 1199px){
	.iit-ssbc-des {
	    padding-left: 40px;
	}
	.iit-testi-info > i{
		font-size: 35px;
	}
	.iit-tstmnl-prmo-title i{
		left: 0;
	}
	.iit-tstmnl-grids {
		column-gap: 20px;
	}
	.iit-tstmnl-item-cntlr{
		margin-bottom: 20px;
	}
	.iit-tstmnl-prmo-title{
		font-size: 28px!important;
	}
	
	.iit-testimonial-sec {
		padding-top: 90px!important;
	}
}
@media(max-width: 991px){
	.iit-ssbc-form-inr{
		padding: 25px 20px;
	}
	.iit-ssbc-des {
	    padding-left: 30px;
	}
	.iit-testi-info{
		width: 35%;
	}
	.iit-testi-blockquote {
	    padding-right: 30px;
	    width: 65%;
	}
	.iit-tstmnl-grids {
		column-gap: 24px;
		column-count: 2;
	}
	.iit-tstmnl-item-cntlr{
		margin-bottom: 24px;
	}
	.iit-testimonial-sec {
		padding-top: 80px!important;
	}
	.iit-tstmnl-grids{
		max-width: 700px;
		width: 100%;
		margin: 0 auto;
	}

}
@media(max-width: 767px){
	.iit-service-single-bnr-con-inr {
	    display: block;
	}
	.iit-ssbc-form{
		width: 100%;
		margin-bottom: 30px;
	}
	.iit-ssbc-des {
	    padding-left: 0;
	    width: 100%;
	}
	.iit-wyg-grds ul li{
		width: 50%;
	}
	.iit-faq-accordion-des-inr {
	    display: flex;
    	flex-wrap: wrap;
	}
	.iit-testi-info {
	    width: 100%;
	    margin-bottom: 20px;
	    order: 2;
	}
	.iit-testi-blockquote {
	    padding-right: 0;
	    width: 100%;
	}
	.iit-ssbc-form-inr{
		max-width: 400px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.iit-tstmnl-grids {
		column-gap: 20px;
	}
	.iit-tstmnl-item-cntlr{
		margin-bottom: 20px;
	}
	.iit-tstmnl-prmo-title{
		font-size: 28px!important;
	}
	.iit-tstmnl-prmo-title i{
		top: -54px;
		font-size: 75px;
	}
	.iit-testimonial-sec {
		padding-top: 70px!important;
	}
}
@media(max-width: 639px){
	.iit-tstmnl-grids{
		max-width: 375px;
		width: 100%;
		margin: 0 auto;
		column-count: 1;
	}
	.iit-tstmnl-item-pro-img img {
		max-width: 100px;
		max-height: 100px;
	}
	.iit-tstmnl-item{
		padding-bottom: 20px;
	}
}
@media(max-width: 575px){
	.input-field-row {
	    padding-bottom: 20px;
	}
	.iit-wyg-grds ul {
	    display: block;
	    margin-left: 0;
	    margin-right: 0;
	}
	.iit-wyg-grds ul li {
	    width: 100%;
	    padding-left: 0;
   		padding-right: 0;
	}
	.iit-wyg-grds ul li:last-child{
		padding-bottom: 0;
	}
	.iit-wyg-item{
		max-width:350px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		padding: 20px 20px;
		border: 1px solid #d1dbde;
		border-radius: 5px;
	}
	.iit-testi-info > i {
	    font-size: 30px;
	}
	.iit-wyg-hdr-cntlr{
		justify-content: center;
	}
	.iit-wyg-des{
		text-align: center;
	}
	.iit-wyg-hdr-img,
	.iit-wyg-hdr-title{
		width: initial;
	}
	.iit-tstmnl-prmo-title {
		font-size: 27px!important;
	}
	.iit-tstmnl-item-pro-img img {
		max-width: 90px;
		max-height: 90px;
	}
	.iit-testimonial-sec {
		padding-top: 60px!important;
	}
	.iit-tstmnl-item{
		padding-bottom: 15px;
	}

}
@media(max-width: 359px){
	.iit-ssbc-form-title{
		font-size: 18.5px!important;
	}
}


