
.iit-service-grds > ul{
	display: flex;
	flex-wrap: wrap;
	border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
}
.iit-service-grds > ul > li{
	width: 33.3333%;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 30px;
	padding-top: 30px;
	background: linear-gradient(236.41deg, #FFFFFF 3.15%, rgba(255, 255, 255, 0) 67.79%), #F4F4F4;
	border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.iit-service-grds > ul > li:hover .iit-service-grd-item-img i{
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}

.iit-service-grd-item{
	padding-bottom: 30px;
	position: relative;
	height: 100%;
	text-align: center;
}

.iit-service-grd-item-img,
.iit-etu-img,
.ethics-item-icon,
.philosophy-item-img,
.contect-grid-img,
.iit-service-img{
	height: 100px;
	width: 100px;
	padding: 7px 2px;
	background-color: #5d9d32;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
}
.iit-service-grd-item-img span,
.iit-etu-img span,
.ethics-item-icon span,
.philosophy-item-img span,
.contect-grid-img span,
.iit-service-img span{
	background-color: #fff;
    color: #666;
    display: block;
    height: 100%;
    position: relative;
    width: 100%;
    border-radius: 50%;
}
.iit-service-grd-item-img i,
.iit-etu-img i,
.ethics-item-icon i,
.philosophy-item-img i,
.contect-grid-img i,
.iit-service-img i{
	display: inline-block;
	vertical-align: baseline;
	font-size: 35px;
    position: absolute;
    top: 0;
	bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    height: 45px;
    width: 45px;
    line-height: 45px;
}

.iit-service-grd-item-title{
	margin: 0 0 25px;
	padding-top: 15px;
	text-transform: capitalize;
}


.iit-service-grd-item-des > a{
	display: none;
	vertical-align: baseline;
	color: #000;
	padding-left: 28px;
	position: relative;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	margin-top: auto;
}
.iit-service-grd-item-des > a:after{
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	width: 15px;
	height: 1px;
	background: #000;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	margin-top: -1px;
}
/*.iit-service-grd-item > a{
	display: inline-block;
	vertical-align: baseline;
	color: #000;
	padding-left: 28px;
	position: relative;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	position: absolute;
	bottom: 0;
}
.iit-service-grd-item > a:after{
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	width: 15px;
	height: 1px;
	background: #000;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	margin-top: 0px;
}*/
.home .iit-service-grd-item{
	padding-bottom: 60px;
}
.iit-service-sec .view-more-btn{
	position: absolute;
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	padding-top: 0;
	width: 100%;
}
.iit-service-grd-item-des {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
}

.iit-service-grd-item-des h5 a{
	padding-left: 0;
	color: #000;
}
.iit-service-grd-item-des h5 a:after{
	content: none;
}

.iit-service-grd-item-cntlr-01 .iit-service-grd-item-img i{
	color: #F8800B;
}
.iit-service-grd-item-cntlr-02 .iit-service-grd-item-img i{
	color: #5d9d32;
}
.iit-service-grd-item-cntlr-03 .iit-service-grd-item-img i{
	color: #0c224b;
}

.iit-service-grd-item-cntlr-04 .iit-service-grd-item-img i{
	color: #F8800B;
}
.iit-service-grd-item-cntlr-05 .iit-service-grd-item-img i{
	color: #5d9d32;
}
.iit-service-grd-item-cntlr-06 .iit-service-grd-item-img i{
	color: #0c224b;
}


.iit-service-grd-item-cntlr-02 .iit-service-grd-item-title.fl-h5 a:hover,
.iit-service-grd-item-cntlr-05 .iit-service-grd-item-title.fl-h5 a:hover{
	color: #5d9d32;
}
.iit-service-grd-item-cntlr-03 .iit-service-grd-item-title.fl-h5 a:hover,
.iit-service-grd-item-cntlr-06 .iit-service-grd-item-title.fl-h5 a:hover{
	color: #0c224b;
}

.iit-service-grd-item-cntlr-02 .iit-service-grd-item > a:hover,
.iit-service-grd-item-cntlr-05 .iit-service-grd-item > a:hover{
	color: #5d9d32;
}
.iit-service-grd-item-cntlr-03 .iit-service-grd-item > a:hover,
.iit-service-grd-item-cntlr-06 .iit-service-grd-item > a:hover{
	color: #0c224b;
}

.iit-service-grd-item-cntlr-02 .iit-service-grd-item > a:hover:after,
.iit-service-grd-item-cntlr-05 .iit-service-grd-item > a:hover:after{
	background: #5d9d32;
}
.iit-service-grd-item-cntlr-03 .iit-service-grd-item > a:hover:after,
.iit-service-grd-item-cntlr-06 .iit-service-grd-item > a:hover:after{
	background: #0c224b;
}


.iit-service-row-item{
	display: flex;
	background: rgba(94, 173, 70, 0.1);
	padding: 40px 30px;
	border-radius: 5px;
}

.iit-service-col-lft{
	width: 50%;
}
.iit-service-col-rgt{
	width: 50%;
	padding-left: 40px;
}
.iit-service-row-lftdes-rgtimg .iit-service-col-lft{
	order: 2;
}
.iit-service-row-lftdes-rgtimg .iit-service-col-rgt{
	order: 1;
	padding-left: 0;
	padding-right: 40px;
}
/*.iit-service-col-des i{
	display: inline-block;
	vertical-align: baseline;
	padding-right: 20px;
	font-size: 35px;
}*/

.iit-service-col-img{
	padding-top: 68px;
	display: flex;
    justify-content: center;
}


.iit-service-col-heading{
	position: relative;
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	padding-left: 60px;
}
.iit-service-img{
	position: absolute;
	left: 0;
	top: 0;
	height: 50px;
	width: 48px;
	margin-top: -9px;
}
.iit-service-img i{
	font-size: 23px;
	height: 32px;
	width: 32px;
	line-height: 32px;
}
.iit-service-col-des-title{
	text-transform: capitalize;
	margin-bottom: 0;
}
.iit-service-col-des-con ul{
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 30px;
}
.iit-service-col-des-con ul li{
	width: 50%;
	padding-right: 10px;
}
.iit-service-col-des-con p{
	margin-bottom: 30px;
}
.iit-service-col-des-con p strong{
	display: block;
	padding-bottom: 10px;
}
.iit-service-col-des-title a{
	color: #000;
}

.iit-service-grd-2{
	position: relative;
	margin-top: 50px;
}
.iit-service-grd-2-mdl-img{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 33.3333%;
}
.iit-service-grd-2 ul{
	float: left;
	width: 100%;
	margin-bottom: 50px;
	margin-left: -12px;
	margin-right: -12px;
}
.iit-service-grd-2 ul li{
	width: 33.3333%;
	padding-left: 12px;
	padding-right: 12px;
}
.clear{
	clear: both;
}
.pull-left{
	float: left;
	text-align: right;
}
.pull-right{
	float: right;
	text-align: left;
}
.iit-service-grd-2-item-inr{
	padding-right: 100px;
	position: relative;
	margin-bottom: 100px;
}
.iit-service-grd-2 .iit-service-grd-item-img{
	height: 82px;
    width: 80px;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: inherit;
}
.pull-right .iit-service-grd-2-item-inr{
	padding-right: 0;
	padding-left: 100px;
}
.pull-right .iit-service-grd-item-img{
	right: initial;
	left: 0;
	margin-left: initial;
	margin-right: inherit;
}
.iit-service-grd-2 .iit-service-grd-item-img i{
	font-size: 25px;
	height: 28px;
    width: 36px;
    line-height: 28px;
}
.iit-service-grd-2-title{
	margin-bottom: 12px;
}
.option-dots{
	position: absolute;
	bottom: -50px;
	right: 35px;
	background: #eee;
	height: 8px;
	width: 8px;
	border-radius: 100%;
}
.pull-right .option-dots{
	right: initial;
	left: 35px;
}
.option-dots:before{
	content: "";
	position: absolute;
	top: -20px;
	right: 0;
	background: #eee;
	height: 8px;
	width: 8px;
	border-radius: 100%;
}
.option-dots:after{
	content: "";
	position: absolute;
	top: 20px;
	right: 0;
	background: #eee;
	height: 8px;
	width: 8px;
	border-radius: 100%;
}
.iit-service-grd-2 ul li:last-child .option-dots,
.iit-service-grd-2 ul li:nth-last-child(2) .option-dots{
	display: none;
}

@media(max-width: 1399px){
	.iit-service-col-rgt{
		padding-left: 30px;
	}
	.iit-service-row-lftdes-rgtimg .iit-service-col-rgt{
		padding-right: 30px;
	}
}
@media(max-width: 1199px){
	.iit-service-grd-item {
	    padding-left: 50px;
	}
	.iit-service-grd-item-img i {
	    font-size: 30px;
	}
}
@media(max-width: 991px){
	.iit-service-col-rgt {
	    padding-left: 20px;
	}
	.iit-service-row-lftdes-rgtimg .iit-service-col-rgt {
	    padding-right: 20px;
	}
	.iit-service-grds > ul > li{
		width: 50%;
	}
	.iit-service-col-des-con p {
	    margin-bottom: 20px;
	}
	.iit-service-col-des-con ul li{
		width: 100%;
	}
	.iit-service-row-item {
	    display: block;
	    padding-top: 20px;
	}
	.iit-service-col-lft {
	    width: 100%;
	    margin-bottom: 30px;
	}
	.iit-service-col-rgt {
	    padding-left: 0;
	    width: 100%;
	}
	.iit-service-col-des .sec-entry-hdr{
		max-width: 100%;
	}
}


@media(max-width: 767px){
	
	.iit-service-row-lftdes-rgtimg .iit-service-col-rgt {
	    padding-right: 0;
	}
	.iit-service-col-img{
		padding-top: 0;
		max-width: 400px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.iit-service-grds > ul {
	    display: block;
	    max-width: 400px;
	    width: 100%;
	    margin-left: auto;
	    margin-right: auto;
	    border: none;
	}
	.iit-service-grds > ul > li {
	    width: 100%;
	    margin-bottom: 20px;
	    border: 1px solid #ddd;
	}
	.iit-service-grd-item{
		max-width: 350px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.iit-service-col-heading{
		margin-bottom: 25px;
	}
	.iit-service-row-item{
		padding-left: 20px;
		padding-right: 20px;
	}
}


@media(max-width: 479px){
	.iit-service-col-des-con ul{
		display: block;
		padding-bottom: 20px;
	}
	.iit-service-col-des-con ul li{
		width: 100%;
	}
	.iit-service-grd-item {
	    padding-left: 35px;
	}
	.iit-service-grd-item-img {
	    top: 14px;
	}
	.iit-service-grd-item-img i {
	    font-size: 20px;
	}
	.iit-service-col-des a.fl-button{
		max-width: 100%;
		width: 100%;
	}
}