.page-banner-cntlr{
	overflow: hidden;
	position: relative;
}
.page-banner{
	height: 250px;
	position: relative;
	overflow: hidden;
}
.page-banner-bg{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.page-bnr-des{
	position: relative;
	padding-top: 60px;
	text-align: center;
	z-index: 3;
}

#particles-js{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99;
}






/*sec entry hdr*/


.iit-team-sec{
	padding: 50px 0;
}




.iit-team-skill-sec{
	padding: 50px 0;
}
.iit-team-skill-sec-inr{
	display: flex;
	align-items: center;
}
.iit-team-skill-lft{
	width: 50%;
}
.iit-team-skill-rgt{
	width: 50%;
	padding-left: 30px;
}
.sec-entry-hdr.team-skill{
	max-width: 100%;
	text-align: left;
}
.team-skill .heading-divider{
	left: 0;
	transform: translateX(0);
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
}
.team-skill .heading-divider:after{
	content: none;
}




.progressbar-item{
	margin: 30px 0 30px;
	position: relative;
}
.progressbar-bg{
	width: 100%;
	height: 10px;
	background: #E1E1E1!important;
	border-radius: 10px;
}

.progressbar-value{
	height: 10px;
	float: left;
	border-radius: 10px;
	background: linear-gradient(120deg, #f8800b 0%, #ec7807 100%);
	background: -webkit-linear-gradient(120deg, #f8800b 0%, #ec7807 100%);
	background: -ms-linear-gradient(120deg, #f8800b 0%, #ec7807 100%);
	position: absolute;
	top: 40px;
	left: 0;
}

.progressbar-percentage span{
	position: absolute;
	top: 0;
	right: 0;
}


.iit-team-grds ul{
	margin-left: -15px;
	margin-right: -15px;
}
.iit-team-grds ul li{
	float: left;
	width: 25%;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 30px;
}
.iit-team-grds ul li:nth-child(4n+1){
	clear: left;
}

.iit-team-grd-item-img{
	transition: all 1s ease-out;
	-ms-transition: all 1s ease-out;
	-webkit-transition: all 1s ease-out;
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
}

.iit-team-grd-item:hover .iit-team-grd-item-img{
	transform: scale(1.0);
	-webkit-transform: scale(1.0);
	-ms-transform: scale(1.0);
}

.iit-team-grd-item-img-cntlr{
	position: relative;
	overflow: hidden;
	border-radius: 5px;
}


.iit-team-grd-item-des{
	padding-top: 30px;
	text-align: center;
	position: relative;
}

.iit-team-des-title,
.iit-team-des-title a{
	color: #000;
	text-transform: capitalize;
	font-family: 'Nunito', sans-serif;
}

.iit-team-des-title:hover a{
	color: #ff9140;
}

.iit-team-des-title{
	margin-bottom: 10px;
}

.iit-team-grd-item-des-inr span{
	text-transform: capitalize;
	color: #94a8b1;
	font-size: 15px;
}



.iit-team-social-media{
	position: absolute;
	right: 64px;
	top: 0;
	transition: .3s ease-in-out;
	-webkit-transition: .3s ease-in-out;
	-ms-transition: .3s ease-in-out;
	opacity: 0;
}
/*.iit-team-social-media.iit-tsm{
	transform: translateY(-10px) rotate(0);
}*/
.iit-team-social-media.iit-tsm{
	opacity: 1;
}
.iit-team-social-media ul{
	margin-left: 0;
	margin-right: 0;
}
.iit-team-social-media ul li{
	display: block;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 10px;
	float: initial;
}
.iit-team-social-media ul li a{
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(120deg,#5ad0ff 0%,#3224e9 100%);
	color: #fff;
	font-size: 14px;
	border-radius: 100%;
	transition: .3s ease-in-out;
	-webkit-transition: .3s ease-in-out;
	-ms-transition: .3s ease-in-out;
}

.iit-team-social-media.iit-tsm ul li a{
	transform: translateY(0) rotate(0);
}

.iit-team-social-media ul li a i{
	display: inline-block;
	vertical-align: baseline;
}

.iit-team-social-media ul li.share-icon{
	position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 45px;
    transform: translateX(0) rotate(180deg);
    cursor: pointer;
    transition: .3s ease-in-out;
}
.iit-team-social-media.iit-tsm ul li.share-icon:nth-child(1){
	transform: translateY(-70px) rotate(0);

}
.iit-team-social-media.iit-tsm ul li.share-icon:nth-child(2){
	transform: translateY(-113px) rotate(0);

}

.share-btn{
	position: absolute;
	top: -20px;
	right: 20px;
    z-index: 12;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    color: #086ad8;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 0 2px #fff;
    cursor: pointer;
    transition: .3s ease;
    transform: rotate(45deg);
}
.share-btn button{
	transform: rotate(45deg);
	background: transparent;
	cursor: pointer;
}
.share-btn button.icon-change{
	transform: rotate(-180deg);
}